<main class="main container-fluid">
  <div class="account">
    <h1>My account</h1>

    <!-- Tabs work not js only css -->
    <div class="tabs">
      <input class="tabs__input" type="radio" name="tabs" id="tab-1" checked />
      <label for="tab-1" class="tabs__item">
        User Details
        <!-- <span class="mobile-name">User Details</span> -->
      </label>
      <div class="tabs__content" *ngIf="user">
        <fieldset>
          <div class="form-row form-group">
            <div class="col-md">
              <label for="login">Login</label>
              <input type="text" class="form-control" id="login" [ngModel]="user.userName" disabled />
            </div>
            <div class="col-md">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="user.email"/>
            </div>
            <div class="col-md">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" id="phone" [(ngModel)]="user.phoneNumber"/>
            </div>
          </div>
        </fieldset>
        <a class="btn btn--green" (click)="updateUser()">Update User</a>
      </div>
    </div>
  </div>
</main>
<app-footer-panel [footerBgBlack]="true"></app-footer-panel>

