<a [routerLink]="['/orders']"><Back</a>
<h2>Order details</h2>
<app-order-total></app-order-total>
<mat-divider></mat-divider>
<app-order-items [items]="items"></app-order-items>
<mat-divider></mat-divider>
<app-order-comments [comments]="comments"></app-order-comments>
<mat-divider></mat-divider>
<table width="100%" cellspacing="0" cellpadding="4">
        <tr>
            <td colspan="1" align="center">
                
            </td>
            <td colspan="2" align="center">
                <button mat-button >ADD TO CURRENT ORDER</button>
            </td>
            <td colspan="1" align="center">
            </td>
        </tr>
    </table>