.accordion
{
	&__item
	{
		border-top: 1px solid $gray-200;

		&:last-child
		{
			border-bottom: 1px solid $gray-200;
		}

		&--active
		{
			.accordion__t
			{
				color: $blue;
			}

			.accordion__ico
			{
				transform: rotate(180deg);

				.fill
				{
					fill: $blue;
				}
			}

			.accordion__content
			{
				max-height: 50rem;
			}
		}
	}
	
	&__header
	{
		align-items: center;
		cursor: pointer;
		display: flex;
		padding: 1.25rem 1.875rem;
	}

	&__t
	{
		font-size: 1rem;
		font-weight: bold;
	}

	&__ico
	{
		margin-left: auto;

		.fill
		{
			fill: $black;
		}
	}

	&__content
	{
		max-height: 0;
		overflow: hidden;
		padding: 0 1.875rem;
		transition: all .35s ease;

		.list--total
		{
			.list__item
			{
				padding: .9375rem 0;
			}
		}

		.order__item
		{
			background: #fafafa;
			border-bottom: none;
			margin: 0 -1.875rem;
			padding: 1.25rem 1.875rem;

			&-remove
			{
				right: 1.875rem;
			}
		}
	}

	@include media-breakpoint-down(xs) {
		&__header,
		&__content
		{
			padding-left: .9375rem;
			padding-right: .9375rem;
		}
	}
}