.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  &-heading {
    color: inherit;
  }

  &-link {
    font-weight: 700;
  }

  &-dismissible {
    padding-right: 4rem;

    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.75rem 1.25rem;
      color: inherit;
    }
  }

  &-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;

    hr {
      border-top-color: #9fcdff;
    }

    .alert-link {
      color: #002752;
    }
  }

  &-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;

    hr {
      border-top-color: #c8cbcf;
    }

    .alert-link {
      color: #202326;
    }
  }

  &-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;

    hr {
      border-top-color: #b1dfbb;
    }

    .alert-link {
      color: #0b2e13;
    }
  }

  &-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;

    hr {
      border-top-color: #abdde5;
    }

    .alert-link {
      color: #062c33;
    }
  }

  &-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;

    hr {
      border-top-color: #ffe8a1;
    }

    .alert-link {
      color: #533f03;
    }
  }

  &-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;

    hr {
      border-top-color: #f1b0b7;
    }

    .alert-link {
      color: #491217;
    }
  }

  &-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe;

    hr {
      border-top-color: #ececf6;
    }

    .alert-link {
      color: #686868;
    }
  }

  &-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca;

    hr {
      border-top-color: #b9bbbe;
    }

    .alert-link {
      color: #040505;
    }
  }
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 0.75;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a.close.disabled {
  pointer-events: none;
}
