.btn
{
    align-items: center;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: .875rem;
    height: 2.5rem;
    justify-content: center;
    padding: 0 1.875rem;

    &__ico
    {
        background-position: 50%;
        height: 1rem;
        width: 1rem;

        &--plus
        {
            background-image: url('assets/icons/plus.svg');
        }

        &--plus-white
        {
            background-image: url('assets/icons/plus-white.svg');
        }

        &--minus
        {
            background-image: url('assets/icons/minus.svg');
            height: .125rem;
        }

        &--minus-white
        {
            background-image: url('assets/icons/minus-white.svg');
            height: .125rem;
        }

        &--trash-gray
        {
            background-image: url('assets/icons/trash-gray.svg');
            height: 1.25rem;
            width: 1rem;
        }
    }

    &--white
    {
        box-shadow: 0 .125rem .25rem 0 rgba(0,0,0,.12);
    }

    &--sm
    {
        height: 1.875rem;
        font-size: .875rem;
        font-weight: normal;
        padding: 0 1.25rem;
    }

    &--lg
    {
        height: 3.125rem;
        flex: 0 0 3.125rem;
    }

    &--block
    {
        width: 100%;
    }

    &--outline
    {
        background: transparent;
        border-color: $gray-200;
        color: $black;

        &:hover
        {
            background-color: darken($white, 2%);
            color: $black;
        }
    }

    &--blue
    {
        background-color: $blue;
        border-color: $blue;
        color: $white;

        &:hover
        {
            background-color: darken($blue, 5%);
            color: $white;
        }

        &.btn--outline
        {
            background-color: transparent;
            color: $blue;

            &:hover
            {
                background-color: $blue;
                color: $white;
            }
        }
    }

    &--green
    {
        background-color: $green;
        border-color: $green;
        color: $white !important;

        &:hover
        {
            background-color: darken($green, 5%);
            color: $white;
        }

        &.btn--outline
        {
            background-color: transparent;
            color: $green;

            &:hover
            {
                background-color: $green;
                color: $white;
            }
        }
    }

    &--red
    {
        background-color: $red;
        border-color: $red;
        color: $white;

        &:hover
        {
            background-color: darken($red, 5%);
            color: $white;
        }

        &.btn--outline
        {
            background-color: transparent;
            color: $red;

            &:hover
            {
                background-color: $red;
                color: $white;
            }
        }
    }

    &--white
    {
        background-color: $white;
        color: $gray-700;

        &:hover
        {
            background-color: darken($white, 2%);
        }
    }
}


// Buttons group
.btn-group
{
    display: flex;
    flex-wrap: wrap;

    .btn
    {
        min-width: 9rem;
        padding: 0;
        width: auto;
        flex: 0 1 auto;

        &--active
        {
            background-color: $blue;
            border-color: $blue;
            color: $white !important;
        }
    }

    @include media-breakpoint-down(sm) {
        width: 100%;

        .btn
        {
            width: 50%;
        }
    }

    &--uppercase
    {
        .btn
        {
            text-transform: uppercase;
        }
    }
}

.btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:not(:first-child)
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child)
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
