.pagination {
  display: flex;
  list-style: none;

  .page-item {
    margin-left: -1px;

    &.active {
      .page-link {
        background: $blue;
        border-color: $blue;
        color: $white;
      }
    }

    &:not(.disabled) {
      .page-link:hover {
        background: $blue;
        border-color: $blue;
        color: $white;
        cursor: pointer;
      }
    }

    .page-link[aria-label="Next"],
    .page-link[aria-label="Previous"] {
      width: 4rem;
    }

    &:first-child {
      .page-link {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }
    }

    &:last-child {
      .page-link {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }

  .page-link {
    align-items: center;
    border: 1px solid $gray-200;
    color: inherit;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    width: 2.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  // @include media-breakpoint-down(sm) {
  //   margin-bottom: 1.5rem;
  // }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
