.table-responsive
{
	display: block;
	width: 100%;
	overflow-x: auto;

	-webkit-overflow-scrolling: touch;
}

.table
{
	border-collapse: collapse;
	margin-bottom: .625rem;
	width: 100%;

	&__icon
	{
		display: inline-block;
		height: 1.25rem;
		vertical-align: middle;

		& ~ .table__icon,
		& ~ .form-switch
		{
			margin-left: .625rem;
		}
	}

	.col-w-340
	{
		flex: 0 0 21.25rem;
		min-width: 21.25rem;
	}

	.col-w-260
	{
		flex: 0 0 16.25rem;
		min-width: 16.25rem;
	}

	.col-w-160
	{
		flex: 0 0 10rem;
		min-width: 10rem;
	}

	.col-w-140
	{
		flex: 0 0 8.75rem;
		min-width: 8.75rem
	}

	.col-w-130
	{
		flex: 0 0 8.125rem;
		min-width: 8.125rem;
	}

	.col-w-120
	{
		flex: 0 0 7.5rem;
		min-width: 7.5rem;
	}

	.col-w-100
	{
		flex: 0 0 6.25rem;
		min-width: 6.25rem;
	}

	.col-w-80
	{
		flex: 0 0 5rem;
		min-width: 5rem;
	}

	th,
	td
	{
		border: 1px solid $gray-200;
		color: $black;
		font-size: .875rem;
		min-height: 2.5rem;
		min-width: 2.5rem;
		padding: .625rem;
		text-align: left;
		vertical-align: top;
	}

	th
	{
		background-color: #f0f0f0;
		color: $gray-300;
		font-weight: bold;
	}

	tr:nth-child(even)
	{
		td
		{
			background-color: #f8f8f8;
		}
	}
}