.tabs
{
	display: flex;
	flex-wrap: wrap;

	&__input
	{
		left: 0;
		position: absolute;
		top: 0;
		visibility: hidden;

		&:checked + .tabs__item
		{
			color: $blue;

			&::after
			{
				width: 100%;
			}
		}
	}

	&__item
	{
		cursor: pointer;
		margin: 0;
		padding: .625rem 0;
    position: relative;

		&::after
		{
			background: $blue;
			bottom: -.125rem;
			content: ' ';
			height: .125rem;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			transition: all .35s;
			width: 0;
		}

		& ~ .tabs__item
		{
			margin-left: 1.875rem;
    }

    & .mobile-name
    {
      display: none;
    }
	}

	&__content
	{
		border-top: .125rem solid #f0f0f0;
		display: none;
		padding-top: 1.875rem;
		width: 100%;
	}

	@for $i from 1 through 10
	{
		.tabs__input:nth-of-type(#{$i}):checked ~ .tabs__content:nth-of-type(#{$i})
		{
			display: block;
		}
	}

	@include media-breakpoint-down(sm) {

		&__item
		{
      font-size: 0;

			.mobile-name
			{
        font-size: .875rem;
        display: block
			}
		}
	}
}
