<form #myform='ngForm' (ngSubmit)='passBack(myform)' class='p-3'>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title" *ngIf="!editUserMode">Add new user</h4>
    <h4 class="modal-title" id="modal-title" *ngIf="editUserMode">Edit user</h4>
      <button type="button" class="close" aria-describedby="modal-title" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="form-group mt-3">
    <label for="email">Email</label>
    <input id="useremail" name="email" placeholder="Email" required class="form-control"
      [(ngModel)]="user.email" #email="ngModel"
      [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }" email>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf="email.errors.required">Email is required.</div>
      <div *ngIf="email.errors.email">Email must be a valid email address</div>
    </div>
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input id="firstName" name="firstName" placeholder="First Name" type="text" class="form-control" pattern="[A-Za-z ]+"
      [ngClass]="{ 'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched) }" required
      [(ngModel)]="user.firstName" #firstName="ngModel">
    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
      <div *ngIf="firstName.errors.required">First Name is required.</div>
      <div *ngIf="firstName.errors.pattern">First Name is not valid</div>
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input id="lastName" name="lastName" placeholder="Last Name" type="text" class="form-control" pattern="[A-Za-z -]+"
      [ngClass]="{ 'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched) }" required
      [(ngModel)]="user.lastName" #lastName="ngModel">
    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
      <div *ngIf="lastName.errors.required">Last Name is required.</div>
      <div *ngIf="lastName.errors.pattern">Last Name is not valid</div>
    </div>
  </div>
  <div class="form-group" *ngIf="!editUserMode">
    <label for="userName">User Name</label>
    <input id="userName" name="userName" placeholder="User Name" type="text" class="form-control"
      [ngClass]="{ 'is-invalid': userName.invalid && (userName.dirty || userName.touched) }" required
      [(ngModel)]="user.userName" #userName="ngModel">
    <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
      <div *ngIf="userName.errors.required">User Name is required.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="selectRole">Role</label>
    <select id="selectRole" name="selectRole" class="custom-select" aria-describedby="selectRoleHelpBlock"
    [ngClass]="{ 'is-invalid': role.invalid && (role.dirty || role.touched) }" required
    [(ngModel)]="user.selectRole" #role="ngModel">
      <option value="" style="display:none">Please select role</option>
      <option value="store-admin">Administrator</option>
      <option value="store-manager">Manager</option>
    </select>
    <div *ngIf="role.invalid && (role.dirty || role.touched)" class="alert alert-danger">
      <div *ngIf="role.errors.required">Role is required.</div>
    </div>
  </div>
  <div class="form-group" *ngIf="editUserMode">
    <label for="selectedWorkflowRole">Workflow Role</label>
    <select id="selectedWorkflowRole" name="selectedWorkflowRole" required class="custom-select" aria-describedby="selectWorkflowRoleHelpBlock"
      [ngClass]="{ 'is-invalid': workflowRole.invalid && (workflowRole.dirty || workflowRole.touched) }"
      [(ngModel)]="user.selectedWorkflowRole" #workflowRole="ngModel">
      <option value="" style="display:none">Please select role</option>
      <option *ngFor="let wRole of workflowRoles" [value]="wRole">{{wRole}}</option>
    </select>
    <div *ngIf="workflowRole.invalid && (workflowRole.dirty || workflowRole.touched)" class="alert alert-danger">
      <div *ngIf="workflowRole.errors.required">Workflow Role is required.</div>
    </div>
  </div>
  <div class="form-group" *ngIf="!editUserMode">
    <label for="Password">Password</label>
    <input id="password" name="password" (change)="checkValid(myform)" placeholder="Password" type="password" class="form-control"
      [(ngModel)]="user.password" #password="ngModel" pattern="(^[A-Z])\w+\S+"
      [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched) }" required minlength="6">
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
      <div *ngIf="password.errors.required">Password is required</div>
      <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
      <div *ngIf="password.errors.pattern">Password must start with uppercase letter</div>
    </div>
  </div>
  <div class="form-group" *ngIf="!editUserMode">
    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" appConfirmEqualValidator="password" name="confirmPassword" placeholder="Confirm Password" type="password" class="form-control"
      ngModel #confirmPassword="ngModel" pattern="(^[A-Z])\w+\S+"
      [ngClass]="{ 'is-invalid': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) }" required minlength="6">
    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
      <div *ngIf="confirmPassword.errors.required">Password is required</div>
      <div *ngIf="confirmPassword.errors.notEqual">Password and Confirm Password does not match</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary mb-4" (click)="closeModal()">Cancel</button>
    <button name="submit" type="submit" class="btn btn--green mb-4" *ngIf="!editUserMode" [disabled]="myform.invalid">Add</button>
    <button name="submit" type="submit" class="btn btn--green mb-4" *ngIf="editUserMode" [disabled]="myform.invalid">Update user</button>
  </div>
</form>

