<div *ngIf="isForApprove; else elseBlock">
  <mat-accordion>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  <h2>Order items for approval</h2>
              </mat-panel-title>
          </mat-expansion-panel-header>
          test
          <!--
<div class="example-table-container">
            <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="name"
              matSortDisableClear matSortDirection="asc">

              <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef class=".td-image"></th>
    <td mat-cell *matCellDef="let row" class=".td-image">
      <img src="{{row.image}}" alt="no image">
    </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class=".td-properties">
        <h1>Name</h1>
      </th>
      <td mat-cell *matCellDef="let row" class=".td-properties">
        <app-product-properties [productProperties]='row.productProperties'>
        </app-product-properties>

      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef disableClear mat-sort-header class=".td-count">
        <h1>Price</h1>
      </th>
      <td mat-cell *matCellDef="let row" class=".td-count">
        <app-modify-count-product [productPrice]='row.productPrice'></app-modify-count-product>
      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
    Problem by loading of products...
  </div>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
          -->
      </mat-expansion-panel>
  </mat-accordion>
</div>
<ng-template #elseBlock>
  <mat-accordion>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  <h2>Order items</h2>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let item of items; let i = index">
            {{item.imageUrl}}&nbsp;
            {{item.name}}&nbsp;
            {{item.productId}}&nbsp;
        </div>

          <!-- <div class="example-table-container">
                  <table mat-table [dataSource]="dataSource" class="example-table" >

                    <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef class=".td-image"></th>
          <td mat-cell *matCellDef="let row" class=".td-image">
            <img src="{{row.imageUrl}}" alt="no image">
          </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef  class=".td-properties">
              <h1>Name</h1>
            </th>
            <td mat-cell *matCellDef="let row" class=".td-properties">
                {{row.name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef disableClear class=".td-count">
              <h1>Price</h1>
            </th>
            <td mat-cell *matCellDef="let row" class=".td-count">
                {{row.productId}}
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
          Problem by loading of products...
        </div>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
          </div> -->
      </mat-expansion-panel>
  </mat-accordion>
</ng-template>
