<main class="main container-fluid">
  <div class="account">
    <h1>Company</h1>

    <!-- Tabs work not js only css -->
    <div class="tabs">
      <input class="tabs__input" type="radio" name="tabs" id="tab-1" checked />
      <label for="tab-1" class="tabs__item">
        Company Details
        <span class="mobile-name">Details</span>
      </label>

      <input class="tabs__input" type="radio" name="tabs" id="tab-2" />
      <label for="tab-2" class="tabs__item">
        User Management
        <span class="mobile-name">Users</span>
      </label>

      <input class="tabs__input" type="radio" name="tabs" id="tab-3" />
      <label for="tab-3" class="tabs__item">
        Approval Workflow
        <span class="mobile-name">Approval Workflow</span>
      </label>

      <app-company-details [organization]="organization" [organizationDetails]="organizationDetails"></app-company-details>

      <app-company-users [organization]="organization"></app-company-users>

      <app-approval-workflow></app-approval-workflow>

    </div>

  </div>
</main>
<app-footer-panel [footerBgBlack]="true"></app-footer-panel>
