# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
assets/dist

/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
assets/static/bundle/script.js
assets/static/bundle/assets/chevron.b87a976356c64467e7d1edd27af43961.svg
assets/static/bundle/assets/hamburger.54624cccefc746dbf9f3a4c1d6b4266f.svg
assets/static/bundle/assets/logo.6ff6743564a2dd1177bd6fdca9f74704.svg
assets/static/bundle/assets/minus-gray.5428864e1408523769583e77447a66a2.svg
assets/static/bundle/assets/minus-white.3da4147fb2866d61c28cb3c2f333abd1.svg
assets/static/bundle/assets/minus.b25d7000c7c2d99036cc8c1ba6d2f3d9.svg
assets/static/bundle/assets/plus-gray.a4dc389fe5bc4bef7cb96bcc10946090.svg
assets/static/bundle/assets/plus-white.b2d6ea4a8c581868aa34e522a0a53c6c.svg
assets/static/bundle/assets/plus.e110920cf22ce8424380d15a28c5f3df.svg
assets/static/bundle/polyfills.js
assets/static/bundle/script.js
assets/static/bundle/script.js
assets/static/bundle/polyfills.js
