<main class="main container-fluid">
  <div class="order">
    <h1 *ngIf="!isForApproval; else aprovalHeader">Orders</h1>
    <ng-template #aprovalHeader>
      <h1>Awaiting Approval</h1>
    </ng-template>

    <div class="row page__sort">
      <div class="col-md-auto page__sort-date">
        From
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" ngbDatepicker #d1="ngbDatepicker"
          [(ngModel)]="startDate" (ngModelChange)="this.dateChanging.next($event)" [ngClass]="{'red-border-class': this.startDate > this.endDate}" />
        To
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" ngbDatepicker #d2="ngbDatepicker"
          [(ngModel)]="endDate" (ngModelChange)="this.dateChanging.next($event)" [ngClass]="{'red-border-class': this.startDate > this.endDate}" />
      </div>

      <div class="col-md-auto page__sort-filter" *ngIf="!isForApproval">
        Statuses
        <div ngbDropdown autoClose="outside" >
          <div id="statusFilterDropdown" ngbDropdownToggle>
            {{ getFilterTitle() }}
          </div>
          <div ngbDropdownMenu aria-labelledby="statusFilterDropdown" class="dropdown-menu--down" >
              <div ngbDropdownItem *ngFor="let status of getStatusFilters()"
                (click)="changeActiveStatus(dropdown, status.name)">
                <div class="col" style="max-width: 20px">
                  <input ngbDropdownItem type="checkbox" type="checkbox" [checked]="status.checked" #dropdown class="mr-3">
                </div>
                <div class="col">
                  {{ status.name }}
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="ordersLoaded$ | async">
      <ng-container *ngIf="pagination.collectionSize; else elseTemplate">
        <div class="table-responsive">
          <table class="table">
            <colgroup>
              <col class="col-w-160" />
              <col class="col-w-140" />
              <col class="col-w-100" />
              <col class="col-w-80" />
              <col class="col-w-140" />
              <col class="col-w-130" />
              <col class="col-w-130" />
            </colgroup>
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Status</th>
                <th>Created Date</th>
                <th># Items</th>
                <th>Created by</th>
                <th>Assigned to</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody *ngFor="let order of orders">
              <tr>
                <td>
                  <a [routerLink]="['/order-details', order.number]">{{
                    order.number
                  }}</a>
                </td>
                <td>{{ order.status }}</td>
                <td>{{ order.createdDate | date: "EEE, dd/MM/yy " }}</td>
                <td>{{ order.items.length }}</td>
                <td>{{ order.createdBy }}</td>
                <td>{{ getAssignedToRoles(order) }}</td>
                <td>{{ order.total.formattedAmount }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="page-nav">
          <div class="row align-items-md-end align-items-lg-end align-items-xl-end">
            <div class="col-auto">
              <div class="page-nav__total pb-2">
                You've viewed {{ orders.length }} of
                {{ pagination.collectionSize }} orders
              </div>
              <ngb-pagination [(page)]="pagination.page" [pageSize]="pagination.pageSize"
                [collectionSize]="pagination.collectionSize" [maxSize]="3" (pageChange)="getOrders()">
                <ng-template ngbPaginationPrevious>Prev</ng-template>
                <ng-template ngbPaginationNext>Next</ng-template>
              </ngb-pagination>
            </div>
            <div class="col-auto ml-sm-auto align-items-center d-flex">
              <span class="pr-3">Show</span>
              <app-page-size-selector [defaultPageSize]="pagination.pageSize" [pageSizes]="pageSizes"
                (pageSizeChanged)="changePageSize($event)"></app-page-size-selector>
              <span class="pl-3 d-none d-sm-block">entries</span>
            </div>
          </div>
        </div>

      </ng-container>
      <ng-template #elseTemplate>
        <app-no-result-message></app-no-result-message>
      </ng-template>
    </ng-container>
  </div>
</main>
<app-footer-panel [footerBgBlack]="true"></app-footer-panel>
