<table>
    <tr>
        <td> <a>
                <h1>YOUR ORDER</h1>
            </a></td>
        <td><button mat-button (click)='clear()'>Remove all</button></td>
    </tr>
    <tr>
        <td>
            <a>You have <B>{{countItems}}</B> items in your order</a>
        </td>
        <td>
            <button mat-button>Checkout</button>
        </td>
    </tr>
    <tr>
        <td>
            <b>Subtotal:</b>
        </td>
        <td>
            {{subTotal}}
        </td>
    </tr>
    <tr>
        <td>
            <b>Shipping:</b>
        </td>
        <td>
            {{shipping}}
        </td>
    </tr>
    <tr>
        <td>
            <b>Total:</b>
        </td>
        <td>
            {{total}}
        </td>
    </tr>
</table>