<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Order details information</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <!-- <main class="main container-fluid"> -->
    <div class="order">
      <div class="accordion">
        <div class="accordion__item accordion__item--active" (click)="toggleAccordion($event)">
          <div class="accordion__header">
            <div class="accordion__t">Details</div>
            <svg class="accordion__ico" width="13px" height="8px" viewBox="0 0 13 8" version="1.1"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Version-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Catalog" transform="translate(-1027.000000, -961.000000)" class="fill">
                  <polygon id="Fill-1"
                    transform="translate(1033.414000, 964.914000) translate(-1033.414000, -964.914000) "
                    points="1038.414 961 1033.415 966 1028.414 961 1027 962.414 1033.415 968.828 1039.828 962.414">
                  </polygon>
                </g>
              </g>
            </svg>
          </div>
          <div class="accordion__content">
            <div class="row">
              <div class="col-md-12">
                <div class="list list--total">
                  <div class="list__item">
                    Subtotal <span class="list__count">{{cart.subTotal.formattedAmount}}</span>
                  </div>
                  <div class="list__item">
                    Shipping <span class="list__count">{{cart.shippingTotal.formattedAmount}}</span>
                  </div>
                  <div class="list__item">
                    Total <span class="list__count">{{cart.subTotal.formattedAmount}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion__item">
          <div class="accordion__header" (click)="toggleOrderDetails($event)">
            <div class="accordion__t">Order details</div>
            <svg class="accordion__ico" width="13px" height="8px" viewBox="0 0 13 8" version="1.1"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Version-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Catalog" transform="translate(-1027.000000, -961.000000)" class="fill">
                  <polygon id="Fill-1"
                    transform="translate(1033.414000, 964.914000) translate(-1033.414000, -964.914000) "
                    points="1038.414 961 1033.415 966 1028.414 961 1027 962.414 1033.415 968.828 1039.828 962.414">
                  </polygon>
                </g>
              </g>
            </svg>
          </div>
          <cdk-virtual-scroll-viewport itemSize="207" style="height: 207px" *ngIf="showOrderItems">
            <div *cdkVirtualFor="let item of cart.items" class="accordion__content">
              <div class="order__item">
                <div class="order__item-name">{{item.product.name}}</div>
                <div class="order__item-brand">Impression Tray</div>
                <div class="order__item-model">Model: 2120 <span class="divider">| </span>SKU: {{item.product.sku}}
                </div>
                <div class="order__item-descr">Case of 10 Bags with 12 per Bag</div>
                <div class="order__item-other">
                  <div class="order__item-price">Unit price: {{item.placedPrice.formattedAmount}}</div>
                </div>
                <div class="order__item-other">
                  <div class="order__item-price">Quantity: {{item.quantity}}</div>
                </div>
              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
      </div>
    </div>
  <!-- </main> -->
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cancel</button>
  <button type="button" class="btn btn--green" (click)="checkout()">Checkout</button>
</div>
