<main class="main container">
  <div class="content">
      <div class="bulk-order">
          <h1>Bulk Order Pad</h1>
          <div class="row bulk-order__actions">
              <div class="bulk-order__actions-item col-md-auto">
                  <a href="#" class="btn btn--blue btn--outline">Catalog order</a>
              </div>
              <div class="bulk-order__actions-item col-md">
                  <div class="btn-group">
                      <a class="btn btn--outline btn--active" data-name="manual">Manual</a>
                      <a class="btn btn--outline" data-name="copy-paste">Copy & Paste</a>
                  </div>
              </div>
          </div>

          <!-- Bulk order tab content -->
          <div class="bulk-order__content bulk-order__content--active" data-index="0">
              <h2>Add new item</h2>
              <div class="bulk-order__new">
                  <div class="row">
                      <div class="col-md">
                          <div class="row">
                              <div class="col-md-6">
                                  <input placeholder="Product SKU" type="text" class="form-control">
                              </div>
                              <div class="col-md-6">
                                  <input placeholder="Product name" type="text" class="form-control">
                              </div>
                          </div>
                      </div>
                      <div class="col-md-auto">
                          <div class="row">
                              <div class="col-md-auto">
                                  <div class="input-group input-group--qty">
                                      <input placeholder="QTY" type="text" class="form-control form-control--qty">
                                      <a href="#" class="btn btn--blue">
                                          <span class="btn__ico btn__ico--plus-white"></span>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="bulk-order__list">
                  <h2>Items in order</h2>
                  <div class="list">
                      <div class="row list__item">
                          <div class="col-md">
                              <div class="row">
                                  <div class="col-md-6">
                                      <input type="text" class="form-control" value="2039082">
                                  </div>
                                  <div class="col-md-6">
                                      <input type="text" class="form-control" value="G61-50T38">
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-auto">
                              <div class="row">
                                  <div class="col-md-auto">
                                      <div class="input-group input-group--qty">
                                          <input type="text" class="form-control form-control--qty" value="1920">
                                          <a href="#" class="btn btn--white">
                                              <span class="btn__ico btn__ico--trash-gray"></span>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row list__item">
                          <div class="col-md">
                              <div class="row">
                                  <div class="col-md-6">
                                      <input type="text" class="form-control" value="2039082">
                                  </div>
                                  <div class="col-md-6">
                                      <input type="text" class="form-control" value="G61-50T38">
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-auto">
                              <div class="row">
                                  <div class="col-md-auto">
                                      <div class="input-group input-group--qty">
                                          <input type="text" class="form-control form-control--qty" value="1920">
                                          <a href="#" class="btn btn--white">
                                              <span class="btn__ico btn__ico--trash-gray"></span>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row list__item">
                          <div class="col-md">
                              <div class="row">
                                  <div class="col-md-6">
                                      <input type="text" class="form-control" value="2039082">
                                  </div>
                                  <div class="col-md-6">
                                      <input type="text" class="form-control" value="G61-50T38">
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-auto">
                              <div class="row">
                                  <div class="col-md-auto">
                                      <div class="input-group input-group--qty">
                                          <input type="text" class="form-control form-control--qty" value="1920">
                                          <a href="#" class="btn btn--white">
                                              <span class="btn__ico btn__ico--trash-gray"></span>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row list__item">
                          <div class="col-md">
                              <div class="row">
                                  <div class="col-md-6">
                                      <input type="text" class="form-control form-control--error" value="2039082">
                                  </div>
                                  <div class="col-md-6">
                                      <input type="text" class="form-control form-control--error" value="G61-50T38">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md">
                                      <div class="form-error">Error</div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-auto">
                              <div class="row">
                                  <div class="col-md-auto">
                                      <div class="input-group input-group--qty">
                                          <input type="text" class="form-control form-control--qty" value="1920">
                                          <a href="#" class="btn btn--white">
                                              <span class="btn__ico btn__ico--trash-gray"></span>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="bulk-order__content" data-index="1">
              <div class="bulk-order__copy">
                  <p>Simply copy the item records from your CSV file and paste them into the text box using the following format: SKU, Quantity. Each record should start from a new line.</p>
                  <div class="row">
                      <div class="col-md-6">
                          <textarea class="bulk-order__copy-field"></textarea>
                      </div>
                      <div class="col-md-6">
                          <div class="bulk-order__copy-errors">
                              <p>Error in line 1: Product is not recognized</p>
                              <p>Error in line 12: Product is not recognized</p>
                              <p>Error in line 12: Product is not recognized</p>
                              <p>Error in line 12: Product is not recognized</p>
                              <p>Error in line 12: Product is not recognized</p>
                              <p>Error in line 12: Product is not recognized</p>
                              <p>Error in line 12: Product is not recognized</p>
                              <p>Error in line 12: Product is not recognized</p>
                              <a class="all-errors" href="#">Show all Errors</a>
                          </div>
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col">
                          <a href="#" class="btn btn--blue">Validate</a>
                      </div>
                  </div>
              </div>
          </div>

          <div class="bulk-order__add-order">
              <a href="#" class="btn btn--green ml-auto">Add to Order</a>
          </div>
      </div>
      <div class="d-block d-lg-none mt-auto">
          <div class="mobile-order" data-name="mobile-order">
              <div class="mobile-order__ico"></div>
              <div class="mobile-order__info">
                  <div class="mobile-order__t">Your Order</div>
                  <div class="mobile-order__descr">You have 1 items in your order</div>
              </div>
              <div class="mobile-order__price ml-auto">$1,500.00</div>
          </div>
      </div>
  </div>
  <div class="sidebar sidebar--bg-gray d-none d-lg-block">
      <div class="sidebar__inner">
          <div class="sidebar__body order">
              <div class="order__info">
                  <div class="order__t">
                      Your Order
                      <a href="#" class="order__t-link">Remove all</a>
                  </div>
                  <div class="order__text">You have 1 items in your order</div>
                  <div class="list list--total">
                      <div class="list__item">
                          Subtotal <span class="list__count">$1,500.00</span>
                      </div>
                      <div class="list__item">
                          Shipping <span class="list__count free">Free</span>
                      </div>
                      <div class="list__item">
                          Total <span class="list__count">$1.500,00</span>
                      </div>
                  </div>
              </div>
              <div class="order__item">   
                  <a class="order__item-remove" href="#">Remove item</a>
                  <div class="order__item-name">G61-50T38</div>
                  <div class="order__item-brand">Brand name</div>
                  <div class="order__item-model">Model: 0000 <span class="divider">|</span>SKU: 0000000</div>
                  <div class="order__item-descr">Description item</div>
                  <div class="order__item-other">
                      <div class="order__item-price">$1,500.00</div>
                          <div class="input-group input-group--qty input-group--sm ml-auto">
                          <a href="#" class="btn btn--white">
                              <span class="btn__ico btn__ico--minus"></span>
                          </a>
                          <input type="text" class="input-group__input" value="2">
                          <a href="#" class="btn btn--white">
                              <span class="btn__ico btn__ico--plus"></span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="sidebar__footer">
              <a href="#" class="btn btn--green btn--block">Checkout</a>
          </div>
      </div>
  </div>
</main>