<main class="main container" *ngIf="(cart$ | async) as cart">
  <app-active-order-mobile [cart]="cart" #mobileOrderSidebar></app-active-order-mobile>
  <div class="content">
      <!-- <app-bulk-order-manual></app-bulk-order-manual> -->

      <div class="bulk-order">
        <h1>Bulk Order Pad</h1>
        <div class="row bulk-order__actions">
            <div class="bulk-order__actions-item col-md-auto">
                <a href="#" class="btn btn--blue btn--outline">Catalog order</a>
            </div>
            <div class="bulk-order__actions-item col-md">
                <div class="btn-group">
                    <a class="btn btn--outline" [ngClass]="{'btn--active': selectedTab == 'manualy'}" (click)="setSelectedTab('manualy')">Manual</a>
                    <a class="btn btn--outline" [ngClass]="{'btn--active': selectedTab == 'csv'}" (click)="setSelectedTab('csv')">Copy & Paste</a>
                </div>
            </div>
        </div>

        <!-- Bulk order tab content -->
        <div class="bulk-order__content" [ngClass]="{'bulk-order__content--active': selectedTab == 'manualy'}" >
          <app-bulk-order-manual></app-bulk-order-manual>
        </div>
        <div class="bulk-order__content " [ngClass]="{'bulk-order__content--active': selectedTab == 'csv'}">
          <app-bulk-order-csv></app-bulk-order-csv>
        </div>

    </div>
      <app-mobile-cart-summary [activeOrderMobileSidebar]="mobileOrderSidebar" [cart]="cart"></app-mobile-cart-summary>
  </div>
  <div class="sidebar sidebar--bg-gray d-none d-lg-block">
      <div class="sidebar__inner">
          <app-active-order [cart]="cart"></app-active-order>
      </div>
  </div>
</main>
