    <form #myform='ngForm' (ngSubmit)='passBack(myform)' class='p-3'>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title" *ngIf="!editUserMode">Add new user</h4>
        <h4 class="modal-title" id="modal-title" *ngIf="editUserMode">Edit user</h4>
          <button type="button" class="close" aria-describedby="modal-title" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="useremail" name="email" placeholder="Email" required class="form-control" [(ngModel)]="user.email" #email="ngModel" [ngClass]="{ 'is-invalid': myform.submitted && email.invalid }" email>
        <div *ngIf="myform.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.required">Email is required</div>
        </div>
        <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input id="firstName" name="firstName" placeholder="First Name" type="text" class="form-control" pattern="[A-Za-z ]+" [ngClass]="{ 'is-invalid': myform.submitted && firstName.invalid }" required [(ngModel)]="user.firstName" #firstName="ngModel">
        <div *ngIf="myform.submitted && firstName.invalid" class="invalid-feedback">
          <div *ngIf="firstName.errors.required">First Name is required</div>
        </div>
        <div *ngIf="firstName.touched && firstName.invalid" class="invalid-feedback">
          <div *ngIf="firstName.errors.pattern">First Name is not valid</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input id="lastName" name="lastName" placeholder="Last Name" type="text" class="form-control" pattern="[A-Za-z -]+" [ngClass]="{ 'is-invalid': myform.submitted && lastName.invalid }" required [(ngModel)]="user.lastName" #lastName="ngModel">
        <div *ngIf="myform.submitted && lastName.invalid" class="invalid-feedback">
          <div *ngIf="lastName.errors.required">Last Name is required</div>
        </div>
        <div *ngIf="lastName.touched && lastName.invalid" class="invalid-feedback">
          <div *ngIf="lastName.errors.pattern">Last Name is not valid</div>
        </div>
      </div>
      <div class="form-group" *ngIf="!editUserMode">
        <label for="userName">User Name</label>
        <input id="userName" name="userName" placeholder="User Name" type="text" class="form-control" required [ngClass]="{ 'is-invalid': myform.submitted && userName.invalid }" required [(ngModel)]="user.userName" #userName="ngModel">
        <div *ngIf="myform.submitted && userName.invalid" class="invalid-feedback">
          <div *ngIf="userName.errors.required">User Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="selectRole">Role</label>
        <select id="selectRole" name="selectRole" class="custom-select" required aria-describedby="selectRoleHelpBlock"  [ngClass]="{ 'is-invalid': myform.submitted && role.invalid }" required [(ngModel)]="user.role" #role="ngModel">
          <option value="" style="display:none">Please select role</option>
          <option value="pp-admin">Administrator</option>
          <option value="pp-agent">Agent</option>
        </select>
        <div *ngIf="myform.submitted && role.invalid" class="invalid-feedback">
          <div *ngIf="role.errors.required">Role is required</div>
        </div>
      </div>
      <div class="form-group" *ngIf="!editUserMode">
        <label for="Password">Password</label>
        <input id="password" name="password" placeholder="Password" type="password" class="form-control" [(ngModel)]="user.password" #password="ngModel" pattern="(^[A-Z])\w+" [ngClass]="{ 'is-invalid': password.touched && password.invalid }" required minlength="6">
        <div *ngIf="myform.submitted && password.invalid" class="invalid-feedback">
        <div *ngIf="password.errors.required">Password is required</div>
        </div>
        <div *ngIf="password.touched && password.invalid" class="invalid-feedback">
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
          <div *ngIf="password.errors.pattern">Password must start with uppercase letter</div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary mb-4" (click)="closeModal()">Cancel</button>
        <button name="submit" type="submit" class="btn btn--green mb-4" *ngIf="!editUserMode">Add</button>
        <button name="submit" type="submit" class="btn btn--green mb-4" *ngIf="editUserMode">Update user</button>
      </div>
    </form>

