<div class="input-group input-group--qty mt-auto" appRemoveWrapper>
  <a *ngIf="!productLineItem; else quantityChanger" class="btn btn--blue" (click)="addProductToCart()">
    <span class="btn__ico btn__ico--plus-white"></span>
  </a>

</div>

<ng-template #quantityChanger>
<a class="btn btn--green" (click)="decrementQuantity(productLineItem)">
  <span class="btn__ico btn__ico--minus-white"></span>
</a>
<input type="number" min="1" class="input-group__input" [value]="productLineItem.quantity" (keyup)="productQuantity$.next($event.target.value)">
<a class="btn btn--green" (click)="incrementQuantity(productLineItem)">
  <span class="btn__ico btn__ico--plus-white"></span>
</a>
<!-- [(ngModel)]="productLineItem.quantity" (ngModelChange)="updateLineItemQuantity()" -->
</ng-template>
