<main class="main container">
  <div class="order">
    <h1>Awaiting Approval</h1>
    <div class="row page__sort">
      <div class="col-md-auto page__sort-date">
        From
        <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp1" ngbDatepicker #d1="ngbDatepicker" [(ngModel)]="startDate" (ngModelChange)="getAllOrders()" (click)="d1.toggle()">
        To
        <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp2" ngbDatepicker #d2="ngbDatepicker" [(ngModel)]="endDate" (ngModelChange)="getAllOrders()" (click)="d2.toggle()">
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <colgroup>
          <col class="col-w-160" />
          <col class="col-w-140" />
          <col class="col-w-100" />
          <col class="col-w-80" />
          <col class="col-w-140" />
          <col class="col-w-130" />
          <col class="col-w-130" />
        </colgroup>
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Status</th>
            <th>Date</th>
            <th>#Items</th>
            <th>Created by</th>
            <th>Assigned to</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody *ngFor="let order of orders">
          <tr>
            <td><a [routerLink]="['/order-details',order.number]">{{order.number}}</a></td>
            <td>
              <span class="text--blue">{{order.status}}</span>
            </td>
            <td>{{order.createdDate | date: 'EEE, dd/MM '}}</td>
            <td>{{order.items.length}}</td>
            <td>{{order.createdBy}}</td>
            <td>{{orderWorkflowService.getRolesTextByState(order.status)}}</td>
            <td>{{order.total.formattedAmount}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="page-nav">
      <div class="row align-items-end justify-content-center">
        <div class="col-auto">
          <div class="page-nav__total">You've viewed {{orders.length}} of {{pagination.collectionSize}} orders</div>
          <ngb-pagination
          [(page)]="pagination.page"
          [pageSize]="pagination.pageSize"
          [collectionSize]="pagination.collectionSize"
          (pageChange)="pageChanged()"></ngb-pagination>
        </div>
        <div class="col-auto ml-sm-auto">
            Show
            <app-page-size-selector [defaultPageSize]="pagination.pageSize" [pageSizes]="pageSizes" (pageSizeChanged)="pageSizeChanged($event)" ></app-page-size-selector>
        </div>
      </div>
    </div>

  </div>
</main>
