<main class="main container">
  <div class="order">
    <h1>Orders</h1>
    <div class="row page__sort">
      <div class="col-md-auto page__sort-date">
        From
        <input type="text" class="form-control" />
        To
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <colgroup>
          <col class="col-w-160" />
          <col class="col-w-140" />
          <col class="col-w-100" />
          <col class="col-w-80" />
          <col class="col-w-140" />
          <col class="col-w-130" />
          <col class="col-w-130" />
        </colgroup>
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Status</th>
            <th>Date</th>
            <th>#Items</th>
            <th>Created by</th>
            <th>Assignet to</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>348763429</td>
            <td>
              <span class="text--blue">Awaiting Approval</span>
            </td>
            <td>Tue, 05/03</td>
            <td>4</td>
            <td>Pavlov Pavel</td>
            <td>Ivanov Peotr</td>
            <td>$ 2.100.999,00</td>
          </tr>
          <tr>
            <td>348763429</td>
            <td>
              <span class="text--blue">Awaiting Approval</span>
            </td>
            <td>Tue, 05/03</td>
            <td>4</td>
            <td>Pavlov Pavel</td>
            <td>Ivanov Peotr</td>
            <td>$ 2.100.999,00</td>
          </tr>
          <tr>
            <td>348763429</td>
            <td>
              <span class="text--blue">Awaiting Approval</span>
            </td>
            <td>Tue, 05/03</td>
            <td>4</td>
            <td>Pavlov Pavel</td>
            <td>Ivanov Peotr</td>
            <td>$ 2.100.999,00</td>
          </tr>
          <tr>
            <td>348763429</td>
            <td>
              <span class="text--blue">Awaiting Approval</span>
            </td>
            <td>Tue, 05/03</td>
            <td>4</td>
            <td>Pavlov Pavel</td>
            <td>Ivanov Peotr</td>
            <td>$ 2.100.999,00</td>
          </tr>
          <tr>
            <td>348763429</td>
            <td>
              <span class="text--blue">Awaiting Approval</span>
            </td>
            <td>Tue, 05/03</td>
            <td>4</td>
            <td>Pavlov Pavel</td>
            <td>Ivanov Peotr</td>
            <td>$ 2.100.999,00</td>
          </tr>
          <tr>
            <td>348763429</td>
            <td>
              <span class="text--blue">Awaiting Approval</span>
            </td>
            <td>Tue, 05/03</td>
            <td>4</td>
            <td>Pavlov Pavel</td>
            <td>Ivanov Peotr</td>
            <td>$ 2.100.999,00</td>
          </tr>
          <tr>
            <td>348763429</td>
            <td>
              <span class="text--blue">Awaiting Approval</span>
            </td>
            <td>Tue, 05/03</td>
            <td>4</td>
            <td>Pavlov Pavel</td>
            <td>Ivanov Peotr</td>
            <td>$ 2.100.999,00</td>
          </tr>
          <tr>
            <td>348763429</td>
            <td>
              <span class="text--blue">Awaiting Approval</span>
            </td>
            <td>Tue, 05/03</td>
            <td>4</td>
            <td>Pavlov Pavel</td>
            <td>Ivanov Peotr</td>
            <td>$ 2.100.999,00</td>
          </tr>
          <tr>
            <td>348763429</td>
            <td>
              <span class="text--blue">Awaiting Approval</span>
            </td>
            <td>Tue, 05/03</td>
            <td>4</td>
            <td>Pavlov Pavel</td>
            <td>Ivanov Peotr</td>
            <td>$ 2.100.999,00</td>
          </tr>
          <tr>
            <td>348763429</td>
            <td>
              <span class="text--blue">Awaiting Approval</span>
            </td>
            <td>Tue, 05/03</td>
            <td>4</td>
            <td>Pavlov Pavel</td>
            <td>Ivanov Peotr</td>
            <td>$ 2.100.999,00</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="page-nav">
      <div class="row align-items-end justify-content-center">
        <div class="col-auto">
          <div class="page-nav__total">You've viewed 72 of 101 products</div>
          <div class="pagination">
            <div class="pagination__item">
              <a href="#" class="pagination__link pagination__link--active"
                >1</a
              >
            </div>
            <div class="pagination__item">
              <a href="#" class="pagination__link">2</a>
            </div>
            <div class="pagination__item">
              <a href="#" class="pagination__link">3</a>
            </div>
            <div class="pagination__item pagination__item--next">
              <a href="#" class="pagination__link">Next</a>
            </div>
          </div>
        </div>
        <div class="col-auto ml-sm-auto">
          <div class="page-nav__count">
            Show
            <div class="dropdown">
              <div class="dropdown__toggle">30</div>
              <div class="dropdown__menu dropdown__menu--up">
                <a href="#" class="dropdown__menu-item">10</a>
                <a href="#" class="dropdown__menu-item">20</a>
                <a href="#" class="dropdown__menu-item">30</a>
              </div>
            </div>
            Entries
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
