<!-- <app-active-order-header [userName]="userName" [orderId]="orderId"></app-active-order-header>
<app-active-order-total
    [countItems]="countItems"
    [subTotal]="subTotal"
    [shipping]="shipping"
    [total]="total">
</app-active-order-total>
<app-active-order-detail [products]="products" ></app-active-order-detail> -->
<div class="sidebar__inner">
<div class="order">
  <div class="order__info">
    <div class="order__t">
      Your Order
      <a class="order__t-link" *ngIf="cart.itemsCount != 0" (click)="clear()">Remove all</a>
    </div>
    <div class="order__text">You have {{cart.itemsCount}} items in your order</div>
    <div class="list list--total">
      <div class="list__item">
        Subtotal <span class="list__count">{{cart.subTotal.formattedAmount}}</span>
      </div>
      <div class="list__item">
        Shipping <span class="list__count free">{{cart.shippingTotal.formattedAmount}}</span>
      </div>
      <div class="list__item">
        Total <span class="list__count">{{cart.subTotal.formattedAmount}}</span>
      </div>
    </div>
  </div>
</div>
<div class="sidebar__body">
  <div class="order__item" *ngFor="let item of cart.items">
    <a class="order__item-remove" (click)="removeItem(item)" >Remove item</a>
    <div class="order__item-name mr-4 mb-2">{{item.product.name}}</div>
    <!-- <div class="order__item-brand">Brand name</div> -->
    <!-- <div class="order__item-model">
      Model: 0000 <span class="divider">|</span> SKU: {{item.product.sku}}
    </div> -->
    <div class="order__item-model">SKU: {{item.product.sku}}</div>
    <!-- <div class="order__item-descr">Description item</div> -->
    <div class="order__item-other">
      <div class="order__item-price">{{item.extendedPrice.formattedAmount}}</div>
      <app-change-product-quantity-active-order [cart]="cart" [lineItem]="item"></app-change-product-quantity-active-order>
    </div>
  </div>
</div>
<div class="sidebar__footer">
  <a class="btn btn--green btn--block" [ngClass]="{'disabled': cart.itemsCount === 0}"(click)="checkout(cart)">Checkout</a>
</div>
</div>
