
<block-ui name="general-spinner">
  <div id="layout">
    <app-header-panel></app-header-panel>
    <div *ngIf="!isConnected" class="disconnected-block"><h1>No internet connection</h1></div>
    <app-alerts class="alerts"></app-alerts>
    <app-main-panel  *ngIf="isConnected"></app-main-panel>
  </div>
</block-ui>

<ng-template appConfirm>
  <app-confirm-modal-component></app-confirm-modal-component>
</ng-template>

<ng-template #local_spinner>
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</ng-template>


