<div class="mat-app-background basic-container">
  <table border="1" cellpadding="5" width="100%">
    <tr>
      <td width="70%">
        <div>
          <a href='#'>Bulk order</a>
        </div>
        <br />
        <br />
        <div>
          <mat-form-field>
            Search product:
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="" class="inputSearch">
          </mat-form-field>
        </div>
        <div>
          <app-carusel [categories]="categories" (filterByCategory)="setFilterByCategory($event)"></app-carusel>
        </div>
        <div>
          <div class="example-container mat-elevation-z8">
            <div class="example-table-container">
              <table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="name"
                matSortDisableClear matSortDirection="asc">

                <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class=".td-image"></th>
      <td mat-cell *matCellDef="let row" class=".td-image">
        <img src="{{row.image}}" alt="альтернативный текст">
      </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class=".td-properties">
          <h1>Name</h1>
        </th>
        <td mat-cell *matCellDef="let row"  class=".td-properties">
          <app-product-properties [productProperties]='row.productProperties'>
          </app-product-properties>

        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef disableClear mat-sort-header class=".td-count">
          <h1>Price</h1>
        </th>
        <td mat-cell *matCellDef="let row"  class=".td-count">
            <app-modify-count-product [productPrice]='row.productPrice'></app-modify-count-product>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      Problem by loading of products...
    </div>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
</div>
</div>
</td>

<td width="30%" class="active-order">
  <div>
    <app-active-order></app-active-order>
  </div>
</td>
</tr>
</table>
</div>