<!-- <div class="col">
  <div class="dropdown">
  <div class="dropdown__toggle">{{pageSize}}</div>
  <div class="dropdown__menu dropdown__menu--up">
    <a *ngFor="let ps of pageSizes" class="dropdown__menu-item" (click)="onPageSizeClicked(ps)">{{ps}}</a>
  </div>
</div> -->


    <div ngbDropdown class="dropdown">
      <div class="dropdown__toggle" id="dropdownPageSizes" ngbDropdownToggle>{{pageSize}}</div>
      <div ngbDropdownMenu aria-labelledby="dropdownPageSizes">
        <a  ngbDropdownItem *ngFor="let ps of pageSizes" (click)="onPageSizeClicked(ps)">{{ps}}</a>
      </div>

    </div>
  <!-- <div class="dropdown__toggle">30</div>
                                        <div class="dropdown__menu dropdown__menu--up">
                                            <a href="#" class="dropdown__menu-item">10</a>
                                            <a href="#" class="dropdown__menu-item">20</a>
                                            <a href="#" class="dropdown__menu-item">30</a>
                                        </div> -->
