<!-- <div class="col">
  <div class="dropdown">
  <div class="dropdown__toggle">{{pageSize}}</div>
  <div class="dropdown__menu dropdown__menu--up">
    <a *ngFor="let ps of pageSizes" class="dropdown__menu-item" (click)="onPageSizeClicked(ps)">{{ps}}</a>
  </div>
</div> -->


    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-secondary" id="dropdownPageSizes" ngbDropdownToggle>{{pageSize}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownPageSizes">
        <button ngbDropdownItem *ngFor="let ps of pageSizes" (click)="onPageSizeClicked(ps)">{{ps}}</button>
      </div>
    </div>

