<div class="tabs__content" appRemoveWrapper>
  <a href="#" class="btn btn--green mb-4">Add new Role</a>
  <div class="table-responsive">
    <table class="table">
      <colgroup>
        <col class="col-w-340" />
        <col class="col-w-140" />
        <col class="col-w-140" />
        <col class="col-w-260" />
      </colgroup>
      <thead>
        <tr>
          <th>Role Name</th>
          <th>Role ID</th>
          <th>Creation Date</th>
          <th>Created By</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Agent Provocateur</td>
          <td>0329032</td>
          <td>Tue, 05/03</td>
          <td>Ivanov Peotr</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
