.page-nav
{
	font-size: .875rem;
	margin-top: auto;
	padding: .9375rem;

	&__total
	{
		font-weight: bold;
		margin-bottom: .625rem;
	}

	&__count
	{
		align-items: center;
		display: flex;

		.dropdown
		{
			margin-left: .9375rem;
		}
	}
}