*
{
    outline: none;
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100%;
}

html
{
    font-size: 1rem;
}

body
{
    color: $body-color;
    font-family: $font-family-base;
    line-height: 1.4;
    min-width: 20rem;

    &.swipe-open
    {
        overflow: hidden;
    }
}

a
{
    color: $blue;
    text-decoration: none;

    &:hover
    {
        color: darken($blue, 5%);
    }
}

// Headings
h1
{
    font-size: 1.5rem;
    line-height: 1;
    padding: 1.875rem 0;
    margin-bottom: 0;
}

h2
{
    font-size: 1.25rem;
    line-height: .8;
    padding: .9375rem 0;
}

h1,
h2
{
    font-weight: bold;
}

.logo-vc
{
    background: url('assets/icons/logo-vc.svg') no-repeat scroll 0 0;
    background-size: contain;
    height: 2.5rem;
    width: 8.75rem;
}

// Colors for text
$list-colors: ("red", $red), ("green", $green), ("blue", $blue), ("gray", $gray-500), ("black", $black);

@each $color in $list-colors
{
    .text--#{nth($color, 1)}
    {
        color: nth($color, 2);
    }
}
