$header-height: 3.75rem;
$header-nav-link-hover: #f8f9fa;

.header
{
	border-bottom: 1px solid $gray-200;
	height: $header-height;
	flex: 0 0 $header-height;

	.row
	{
		height: inherit;
	}

	&-logo
	{
		background: url(../../../assets/logo.svg) no-repeat;
		font-size: 0;
		height: 2.5rem;
		margin-left: 1.875rem;
		width: 8.75rem;
	}

	&-nav-mobile
	{
		align-items: center;
		display: flex;
	}

	&-toggle
	{
		background: url('../../../assets/icons/hamburger.svg') no-repeat scroll 0 0;
		height: 1.125rem;
		margin-left: 1.75rem;
		width: 1.5rem;
	}

	&__link
	{
		color: $green;
		font-size: .875rem;
		font-weight: 500;
	}

	.nav
	{
		&__link
		{
			align-items: center;
			display: flex;
			height: $header-height;
			padding: 0 .9375rem;

			&:hover,
			&--active
			{
				background: $header-nav-link-hover;
				color: inherit;
			}
		}
	}
}
