<main class="main container">
  <div class="content">
      <div class="row product">
          <div class="col-md-auto product__gallery">
              <div class="product__gallery-img"></div>
              <div class="list list--gallery">
                  <div class="list__item">
                      <div class="list__img">
                          <img class="list__pic" src="" alt="">
                      </div>
                  </div>
                  <div class="list__item">
                      <div class="list__img"></div>
                  </div>
                  <div class="list__item">
                      <div class="list__img"></div>
                  </div>
              </div>
          </div>
          <div class="col-md product__info">
              <div class="product__general">
                  <h1>Dynarex Dental Impression Trays</h1>
                  <div class="product__brand">Impression Tray</div>
                  <div class="product__descr">Case of 10 Bags with 12 per Bag</div>
                  <div class="product__model">
                      Model: 2120
                      <span class="sku">SKU: 2039082</span>
                  </div>
              </div>
              <div class="product__other">
                  <div class="product__price">$40.00</div>
                  <div class="product__qty">
                      <div class="input-group input-group--qty input-group--sm ml-auto">
                          <a href="#" class="btn btn--white">
                              <span class="btn__ico btn__ico--minus"></span>
                          </a>
                          <input type="text" class="input-group__input" value="2">
                          <a href="#" class="btn btn--white">
                              <span class="btn__ico btn__ico--plus"></span>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="product__text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </div>
          </div>
      </div>
      <div class="d-block d-lg-none mt-auto">
          <div class="mobile-order" data-name="mobile-order">
              <div class="mobile-order__ico"></div>
              <div class="mobile-order__info">
                  <div class="mobile-order__t">Your Order</div>
                  <div class="mobile-order__descr">You have 1 items in your order</div>
              </div>
              <div class="mobile-order__price ml-auto">$1,500.00</div>
          </div>
      </div>
  </div>
  <div class="sidebar sidebar--bg-gray d-none d-lg-block">
      <div class="sidebar__inner">
          <div class="sidebar__body order">
              <div class="order__info">
                  <div class="order__t">
                      Your Order
                      <a href="#" class="order__t-link">Remove all</a>
                  </div>
                  <div class="order__text">You have 1 items in your order</div>
                  <div class="list list--total">
                      <div class="list__item">
                          Subtotal <span class="list__count">$38,400.00</span>
                      </div>
                      <div class="list__item">
                          Shipping <span class="list__count free">Free</span>
                      </div>
                      <div class="list__item">
                          Total <span class="list__count">$38.400,00</span>
                      </div>
                  </div>
              </div>
              <div class="order__item">
                  <a class="order__item-remove" href="#">Remove item</a>
                  <div class="order__item-name">Dynarex Dental Impression Trays</div>
                  <div class="order__item-brand">Impression Tray</div>
                  <div class="order__item-model">Model: 2120 <span class="divider">|</span>SKU: 2039082</div>
                  <div class="order__item-descr">Case of 10 Bags with 12 per Bag</div>
                  <div class="order__item-other">
                      <div class="order__item-price">$38,400.00</div>
                          <div class="input-group input-group--qty input-group--sm ml-auto">
                          <a href="#" class="btn btn--white">
                              <span class="btn__ico btn__ico--minus"></span>
                          </a>
                          <input type="text" class="input-group__input" value="2">
                          <a href="#" class="btn btn--white">
                              <span class="btn__ico btn__ico--plus"></span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="sidebar__footer">
              <a href="#" class="btn btn--green btn--block">Checkout</a>
          </div>
      </div>
  </div>
</main>
