<main class="main container">
  <div class="content" *ngIf="product">
    <div class="row product">
      <div class="col-md-auto product__gallery">
        <div class="product__gallery-img">
          <img src="{{ product.primaryImage.url }}" alt="" width="300" height="300" />
        </div>
        <div class="list list--gallery">
          <div class="list__item" *ngFor="let img of product.images">
            <div class="list__img">
              <img
                class="list__pic"
                src="{{ img.url }}"
                alt=""
                (click)="openImageModal(content)"
              />
            </div>
            <ng-template #content let-modal>
              <ngb-carousel *ngIf="img" class="text-center">
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img [src]="img.url" alt="Image" />
                  </div>
                </ng-template>
              </ngb-carousel>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col-md product__info">
        <div class="product__general">
          <h1>{{ product.name }}</h1>
          <div class="product__brand">{{ product.brand }}</div>
          <div class="product__descr" [innerHTML]="product.quickReview">
          </div>
          <div class="product__model">
            Model: 2120
            <span class="sku">SKU: {{ product.sku }}</span>
          </div>
        </div>
        <div class="product__other" *ngIf="(cart$ | async) as cart">
          <div class="product__price">{{ product.price }}</div>
          <app-change-product-quantity
            [cart]="cart"
            [productId]="product.id"
          ></app-change-product-quantity>
        </div>
        <div class="product__text" [innerHTML]="product.fullReview">
        </div>
      </div>
    </div>
    <app-mobile-cart-summary></app-mobile-cart-summary>
  </div>
  <div class="sidebar sidebar--bg-gray d-none d-lg-block">
    <div class="sidebar__inner">
      <app-active-order></app-active-order>
    </div>
  </div>
</main>
