<a><b>{{currencyProduct}}{{priceProduct}}</b></a> <br />
<div *ngIf="countProduct==0; else countProductShow">
    <button mat-button (click)="Add()">Plus</button>
</div>
<ng-template #countProductShow>
    <div *ngIf="hideEdit; else showEdit" (click)="ShowEdit()">
        {{countProduct}}
    </div>
    <ng-template #showEdit>
        <input #inputCount matInput type="text" [(ngModel)]="inputCountProduct" (blur)="FocusOut(inputCount.value)"
            (keyup.enter)="Save(inputCount.value)">
        {{ inputCount.focus() }}

        <br />
    </ng-template>
    <button mat-button (click)="Remove()">Remove</button>
</ng-template>