<div class="tabs__content" appRemoveWrapper >
  <fieldset *ngIf="organizationDetails">
    <legend>Legal information</legend>
    <div class="form-row form-group">
      <div class="col-md">
        <label for="name">Company Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="organizationDetails.name"/>
      </div>
      <div class="col-md">
        <label for="number">Tax Number</label>
        <input type="text" class="form-control" id="number" [(ngModel)]="organizationDetails.taxNumber"/>
      </div>
      <div class="col-md">
        <label for="reg-number">Company Registration Number</label>
        <input type="text" class="form-control" id="reg-number" [(ngModel)]="organizationDetails.companyRegistrationNumber"/>
      </div>
    </div>
  </fieldset>
  <fieldset *ngIf="organizationDetails">
    <legend>Procurements service contact</legend>
    <div class="form-row form-group">
      <div class="col-md">
        <label for="phone">Phone</label>
        <input
          placeholder="Enter phone"
          type="text"
          class="form-control"
          id="phone"
          [(ngModel)]="organizationDetails.phoneNumber"
        />
      </div>
      <div class="col-md">
        <label for="email">Email</label>
        <input
          placeholder="Enter email"
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="organizationDetails.email"
        />
      </div>
      <div class="col-md">
        <label for="person">Contact Person</label>
        <input
          placeholder="Enter name"
          type="text"
          class="form-control"
          id="person"
          [(ngModel)]="organizationDetails.contactPerson"
        />
      </div>
    </div>
  </fieldset>
  <fieldset *ngIf="organizationDetails">
    <legend>Billing address</legend>
    <div class="form-row form-group">
      <div class="col-md-6">
        <div class="form-row">
          <div class="col-md">
            <label for="billing-country">Country</label>
            <input
              placeholder="Enter country"
              type="text"
              class="form-control"
              id="billing-country"
              [(ngModel)]="organizationDetails.billingAddress.countryName"
            />
          </div>
          <div class="col-md">
            <label for="billing-city">City</label>
            <input
              placeholder="Enter city"
              type="text"
              class="form-control"
              id="billing-city"
              [(ngModel)]="organizationDetails.billingAddress.city"
            />
          </div>
          <div class="col-md-auto">
            <label for="billing-code">Postal Code</label>
            <input
              placeholder="Code..."
              type="text"
              class="form-control form-control--code"
              id="billing-code"
              [(ngModel)]="organizationDetails.billingAddress.postalCode"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-row">
          <div class="col-md">
            <label for="billing-address">Address 1</label>
            <input
              placeholder="Enter name"
              type="text"
              class="form-control"
              id="billing-address"
              [(ngModel)]="organizationDetails.billingAddress.line1"
            />
          </div>
          <div class="col-md">
            <label for="billing-address-2">Address 2</label>
            <input
              placeholder="Enter name"
              type="text"
              class="form-control"
              id="billing-address-2"
              [(ngModel)]="organizationDetails.billingAddress.line2"
            />
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset *ngIf="organizationDetails">
    <legend>Shipping address</legend>
    <div class="form-row form-group">
      <div class="col-md-6">
        <div class="form-row">
          <div class="col-md">
            <label for="shipping-country">Country</label>
            <input
              placeholder="Enter country"
              type="text"
              class="form-control"
              id="shipping-country"
              [(ngModel)]="organizationDetails.shippingAddress.countryName"
            />
          </div>
          <div class="col-md">
            <label for="shipping-city">City</label>
            <input
              placeholder="Enter city"
              type="text"
              class="form-control"
              id="shipping-city"
              [(ngModel)]="organizationDetails.shippingAddress.city"
            />
          </div>
          <div class="col-md-auto">
            <label for="shipping-code">Postal Code</label>
            <input
              placeholder="Code..."
              type="text"
              class="form-control form-control--code"
              id="shipping-code"
              [(ngModel)]="organizationDetails.shippingAddress.postalCode"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-row">
          <div class="col-md">
            <label for="shipping-address">Address 1</label>
            <input
              placeholder="Enter name"
              type="text"
              class="form-control"
              id="shipping-address"
              [(ngModel)]="organizationDetails.shippingAddress.line1"
            />
          </div>
          <div class="col-md">
            <label for="shipping-address-2">Address 2</label>
            <input
              placeholder="Enter name"
              type="text"
              class="form-control"
              id="shipping-address-2"
              [(ngModel)]="organizationDetails.shippingAddress.line2"
            />
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <!-- <fieldset *ngIf="organizationDetails">
    <legend>Return Invalid orders to creator</legend>
    <div class="btn-group btn-group--uppercase">
      <a class="btn btn--outline" [ngClass]="{'btn--active': organizationDetails.returnInvalidOrdersToCreator}" (click)="setOrdersProperty(true)">Yes</a>
      <a class="btn btn--outline" [ngClass]="{'btn--active': !organizationDetails.returnInvalidOrdersToCreator}" (click)="setOrdersProperty(false)">No</a>
    </div>
  </fieldset> -->
  <a class="btn btn--green mt-3" (click)="updateCompany()">Update Company</a>
</div>
