input,
button,
textarea,
select
{
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

textarea
{
    min-height: 6.25rem;
    min-width: 100%;
    max-width: 100%;
    padding: .625rem;
}

.form-group
{
    margin-bottom: 1.875rem;
}

.form-control
{
    border: solid 1px $gray-400;
    border-radius: .25rem;
    color: $gray-400;
    font-size: .875rem;
    font-weight: normal;
    height: 2.5rem;
    padding: .625rem;
    width: 100%;

    @extend %placeholder;

    &:focus
    {
        border-color: darken($gray-400, 15%);
    }
}

.input-group
{
    &--qty
    {
        align-items: center;
        display: flex;
        flex-wrap: wrap;

        .btn
        {
            align-items: center;
            border-radius: 2.125rem;
            display: flex;
            justify-content: center;
            height: 2.125rem;
            padding: 0;
            width: 2.125rem;

            &__ico
            {
                background-size: contain;
                height: .875rem;
                width: .875rem;

                &--plus
                {
                    background-image: url('../../../assets/icons/plus.svg');
                }

                &--plus-white
                {
                    background-image: url('../../../assets/icons/plus-white.svg');
                }

                &--minus
                {
                    background-image: url('../../../assets/icons/minus.svg');
                    height: .125rem;
                }

                &--minus-white
                {
                    background-image: url('../../../assets/icons/minus-white.svg');
                    height: .125rem;
                }
            }

            &--white
            {
                box-shadow: 0 .125rem .25rem 0 rgba(0,0,0,.12);
            }
        }

        .input-group__input
        {
            background: none;
            border: none;
            height: 100%;
            text-align: center;
            width: 3.125rem;
        }

        .list__notify
        {
            margin-right: 1.25rem;
            margin-top: 0;
        }

        @include media-breakpoint-down(lg) {
            .btn
            {
                border-radius: 1.625rem;
                height: 1.625rem;
                width: 1.625rem;

                &__ico
                {
                    height: .75rem;
                    width: .75rem;

                    &--minus,
                    &--minus-white
                    {
                        height: .125rem;
                    }
                }
            }
        }
    }

    &--sm
    {
        .btn
        {
            border-radius: 1.5rem;
            height: 1.5rem;
            width: 1.5rem;

            &__ico
            {
                height: .625rem;
                width: .625rem;

                &--minus
                {
                    height: .125rem;
                }
            }
        }
    }

    &.disabled
    {
        pointer-events: none;

        .btn
        {
            background: $gray-100;

            &__ico
            {
                &--plus
                {
                    background-image: url('../../../assets/icons/plus-gray.svg');
                }

                &--minus
                {
                    background-image: url('../../../assets/icons/minus-gray.svg');
                }
            }
        }
    }
}