/*
    This file included in each .scss-file
*/

/*===   CSS variables*/
:root {
    // c** - Colors
    --cPrimary: #007e3f;
    --cPrimaryDark: #006e3f;
    --cPrimaryLight: #00ae3f;
    --cPrimaryLightest: #ccc;
    --cPrimaryTracing: #e5f4ff;
    --cFontPrimary: #fff;
    --cSecondary: #008641;
    --cGray: #ccc;
    --cGrayDark: #3e3e3e;
    --cGrayLight: #f3f3f5;
    --cError: #dc3545;
    --cValid: #28ac45;
    --cWhite: #fff;
    --cBlack: #000;
}

body {
    &.theme-custom {
        /*
            here override css-variables:
            example: --сSecondary: #008641;
                    to
                    --сSecondary: #1c8fc2;
        */
    }
}

/*===   SCSS constants*/
$base-transition: .3s;
$base-border-radius: 3px;
