/*
    ===   Custom controls styles   ===
*/

@import "_variables";
@import "custom";

.badge-icon {
    position: absolute;
    top: -5px;
    right: -15px;
    background-color: var(--cError);
    border-radius: 50%;
    font-size: 14px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 1.2;
    animation: 3s heartbeat ease-in-out infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.material-input {
    margin-top: 20px;
    position: relative;
    width: 150px;

    input {
        border: 0;
        padding: 4px 0;
        border-bottom: 1px solid var(--cGray);
        background-color: transparent;
        font: 15px/24px "Lato", Arial, sans-serif;
        width: 100%;
        box-sizing: border-box;
        letter-spacing: 1px;

        &:focus {
            outline: none;
        }
    }

    input ~ .material-border {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--cPrimary);
        transition: 0.4s;
    }

    input:focus ~ .material-border,
    input.has-content ~ .material-border {
        width: 100%;
        transition: 0.4s;
    }

    input ~ label {
        position: absolute;
        left: 0;
        width: 100%;
        top: 9px;
        color: var(--cPrimary);
        transition: 0.3s;
        letter-spacing: 0.5px;
        z-index: -1;
    }

    input:focus ~ label,
    input.has-content ~ label {
        top: -16px;
        font-size: 0.8rem;
        color: var(--cPrimary);
        transition: 0.3s;
    }
}

.material-checkbox {
    * {
        transition: $base-transition;

        &:before,
        &:after {
            transition: $base-transition;
        }
    }

    label {
        position: relative;
        cursor: pointer;
        padding: 0;

        &:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 20px;
            height: 20px;
            box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
            background: var(--cWhite);
        }
    }

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;

        &:hover + label:before {
            background-color: var(--cPrimary);
        }

        &:focus + label:before {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        &:checked + label:before {
            background-color: var(--cPrimary);
        }

        &:disabled + label {
            color: var(--cGray);
            cursor: auto;
        }

        &:disabled + label:before {
            box-shadow: none;
            background: var(--cGray);
        }

        &:checked + label:after {
            content: '';
            position: absolute;
            left: 5px;
            top: 9px;
            background: var(--cWhite);
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }
    }
}

.search-panel {
    width: 100%;
    position: relative;

    input {
        font-size: 16px;
        padding-right: 55px;
        padding-bottom: 10px;

        & ~ label {
            font-size: 22px;
            top: 0;
            color: #ccc;
        }
    }

    .btn-search {
        position: absolute;
        top: -5px;
        right: 10px;
        border-radius: 50%;
        border: 1px solid #192599;
        color: #192599;
        width: 40px;
        height: 40px;
        font-size: 36px;
        background: transparent;

        i {
            display: block;
            margin-top: -8px;
            margin-left: -1px;
        }
    }
}

.address-bar {
    color: #ccc;

    .address {
        span, a {
            font-size: 16px;
        }
    }
}

.main-loader {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transition: $base-transition;
    z-index: 1000;
    background: rgba(0,0,0,.2);

    .spinner {
        position: relative;
        display: inline-block;
        width: 90px;
        height: 90px;
        border: 2px solid;
        border-radius: 50%;
        animation: spin 0.75s infinite linear;
        border-color: transparent;
        border-top-color: var(--cPrimary);
        animation-duration: 1.2s;

        &:before,
        &:after {
            left: -2px;
            top: -2px;
            display: none;
            position: absolute;
            content: '';
            width: inherit;
            height: inherit;
            border: inherit;
            border-radius: inherit;
            display: inline-block;
            border-color: transparent;
            border-top-color: var(--cPrimary);
            animation-duration: 1.2s;
        }

        &:before {
            transform: rotate(120deg);
        }

        &:after {
            transform: rotate(240deg);
        }
    }

    .loader::before,
    .loader::after {
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.search-panel-host {
    flex: 1 1 0;
    padding: 0 15px;
}

.search-panel {
    position: relative;
    width: 100%;
    padding-right: 55px;

    input {
        font-size: 1.3rem;
        padding-bottom: 4px;

        & ~ label {
            font-size: 1.5rem;
            top: 0;
            color: #ccc;
        }
    }

    input:focus ~ .material-border,
    input.has-content ~ .material-border {
        width: calc(100% - 55px);
    }

    .btn-search {
        position: absolute;
        top: -5px;
        right: 10px;
        border-radius: 50%;
        border: 1px solid var(--cPrimary);
        color: var(--cPrimary);
        width: 40px;
        height: 40px;
        font-size: 36px;
        background: transparent;

        i {
            display: block;
            margin-top: -4px;
            margin-left: -6px;
            -webkit-text-stroke: 2px var(--cWhite);
        }
    }
}

.vc-table {
    width: 100%;
    text-align: center;

    tr {
        transition: $base-transition;

        &.selected{
                background: var(--cGray);
        }
        &:hover {
            background: var(--cPrimaryTracing);
        }

        th {
            background: var(--cGrayLight);
            padding: 20px 0;
            text-align: center;
            color: var(--cPrimary);
            font-size: 1.2rem;

            span {
                display: block;
                border-right: 2px solid #ccc;
                padding: 10px 0;
            }

            &:last-of-type {
                span {
                    border-right: none;
                }
            }
        }

        td {
            padding: 15px;

            .cell-content {
                display: flex;
                justify-content: center;
            }
        }
    }
}

.vc-color-picker {
    button {
        background: url("/themes/assets/images/color-wheel-icon.png") no-repeat;
        background-size: contain;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid var(--cWhite);
        cursor: pointer;
        @extend .hover-scale;

        &:active,
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }

    canvas {
        border-radius: 50%;
        border: 3px solid var(--cPrimary);
    }

    .dropdown-menu {
        background: transparent;
        border: none;
    }

    .color-picker {
        display: inline-block;
        position: relative;

        input {
            display: none;
        }

        .canvas-wrapper {
            border-radius: 1000px;
            overflow: hidden;
        }

        .indicator {
            top: calc(50% - 2rem);
            left: 50%;
            display: block;
            position: absolute;
            background-color: transparent;
            transform: translate3d(-50%,-2rem,0);
            pointer-events: none;

            .selected-color {
                position: absolute;
                top: 2px;
                left: 2px;
                right: 2px;
                bottom: 30%;
                border-radius: 1000px;
                z-index: -1;
                background-color: #fff;
                -webkit-filter: drop-shadow(0 5px 15px rgba(0,0,0,0.5));
                filter: drop-shadow(0 5px 15px rgba(0,0,0,0.5));
            }
        }
    }
}
