/*
    ===   Custom Style File   ===
*/

@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*===   Main styles*/
html {
    height: 100%;
    font-size: 14px;
    fill: var(--cPrimary);
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*hide spinners from number input*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*placeholders color*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--cGray);
    opacity: 1; /* Firefox */
    font-style: italic;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--cGray);
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--cGray);
    font-style: italic;
}

select {
    option {
        &:disabled {
            font-style: italic;
        }
    }
}

hr {
    width: 100%;
    border-color: var(--cGray);

    &.bold {
        border-width: $base-border-radius;
        border-color: var(--cBlack);
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: 1300px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1500px;
    }
}

/*===   Additional bootstrap-like classes*/
.hidden {
    display: none;
}

.link {
    color: var(--cPrimary);
    text-decoration: underline;
    cursor: pointer;
}

ul {
    &.reset {
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
    }
}

.flex-shrink-0{
    flex-shrink: 0;
}

.primary-color {
    color: var(--cPrimary);
}

.primary-background {
    background-color: var(--cPrimary);
    color: var(--cFontPrimary);
}

.secondary-color {
    color: var(--cSecondary);
}

.secondary-background {
    background-color: var(--cSecondary);
    color: var(--cFontPrimary);
}

.hover-scale {
    transition: $base-transition;

    &:hover {
        transform: scale(1.1);
    }
}

.form-error {
    border-radius: $base-border-radius;
    color: var(--cError);
    border: 1px solid var(--cError);
    background: var(--cWhite);
    padding: 20px;
}

.toolbar {
    label {
        font-size: 1.2rem;
        color: var(--cPrimary);
        font-weight: bold;
    }
}

.address-bar {
    color: var(--cGray);

    .address {
        span, a {
            font-size: 1.2rem;
        }
    }
}

/*===   Default controls override*/
.btn {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 5px 20px;

    &.reset {
        padding: 0;
        background: transparent;

        &:active,
        &:focus {
            box-shadow: none !important;
            outline: none;
        }
    }

    &.short {
        padding: 5px 0;
    }

    &:disabled,
    &.disabled {
        opacity: .35;
    }

    &:active,
    &:focus {
        box-shadow: inset 1px 1px 10px rgba(0,0,0,.2) !important;
        outline: none;
    }
}

.btn-primary, .btn-primary:disabled {
    background-color: var(--cPrimary);
    border-color: var(--cPrimary);
    color: var(--cFontPrimary);

    &:hover {
        background-color: var(--cPrimaryLight);
        border-color: var(--cPrimaryLight);
    }

    &:focus,
    &:active {
        background-color: var(--cPrimaryDark) !important;
        border-color: var(--cPrimaryDark) !important;
    }
}

.buttons-panel {
    &.full-length {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            flex: 1 1 0;
        }
    }

    &.bottom-fixed {
        position: fixed;
        background: var(--cPrimaryTracing);
        border-top: 2px solid var(--cPrimary);
        right: 0;
        bottom: 0;
        left: 0;
        padding: 15px;
        transition: $base-transition;
        animation: fadeIn .7s ease-in both;
        opacity: 0;
    }

    button {
        border-radius: 0;

        &:first-child {
            border-top-left-radius: $base-border-radius;
            border-bottom-left-radius: $base-border-radius;
        }

        &:last-child {
            border-top-right-radius: $base-border-radius;
            border-bottom-right-radius: $base-border-radius;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
