<div *ngIf="isForApprove; else elseBlock">
  <mat-accordion>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  <h2>Order total for approve</h2>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <table cellpadding="5" width="100%">
              <tr>
                  <td>
                  </td>
                  <td>
                      <table width='100%'>
                          <tr>
                              <td>
                                  <b>Subtotal:</b>
                              </td>
                              <td>
                                  {{subTotal}}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>Shipping:</b>
                              </td>
                              <td>
                                  {{shipping}}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>total:</b>
                              </td>
                              <td>
                                  {{total}}
                              </td>
                          </tr>
                      </table>
                      <mat-divider></mat-divider>
                      <table width='100%'>
                          <tr>
                              <td>
                                  <b>CreatedBy:</b>
                              </td>
                              <td>
                                  {{createdBy}}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>Status:</b>
                              </td>
                              <td>
                                  {{status}}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>assignedTo:</b>
                              </td>
                              <td>
                                  {{assignedTo}}
                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
          </table>
      </mat-expansion-panel>
  </mat-accordion>
</div>
<ng-template #elseBlock>
  <mat-accordion>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  <h2>Order total</h2>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <table cellpadding="5" width="100%">
              <tr>
                  <td>
                  </td>
                  <td>
                      <table width='100%'>
                          <tr>
                              <td>
                                  <b>Subtotal:</b>
                              </td>
                              <td>
                                  {{subTotal}}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>Shipping:</b>
                              </td>
                              <td>
                                  {{shipping}}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>total:</b>
                              </td>
                              <td>
                                  {{total}}
                              </td>
                          </tr>
                      </table>
                      <mat-divider></mat-divider>
                      <table width='100%'>
                          <tr>
                              <td>
                                  <b>Created by:</b>
                              </td>
                              <td>
                                  {{createdBy}}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>Status:</b>
                              </td>
                              <td>
                                  {{status}}
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <b>Assigned to:</b>
                              </td>
                              <td>
                                  {{assignedTo}}
                              </td>
                          </tr>
                      </table>
                  </td>
              </tr>
          </table>
      </mat-expansion-panel>
  </mat-accordion>
</ng-template>
