

 <!-- Swipe -->
<div class="swipe swipe--menu">
  <div class="swipe__header">
      <div class="swipe__header-t">Username</div>
      <div class="swipe__close"></div>
  </div>
  <div class="swipe__body">
      <ul class="nav">
          <li class="nav__item">
              <a [routerLink]="['/catalog']" class="nav__link" routerLinkActive="nav__link--active">Catalog</a>
          </li>
          <li class="nav__item">
              <a [routerLink]="['/orders']" class="nav__link" routerLinkActive="nav__link--active">Orders</a>
          </li>
          <li class="nav__item">
              <a [routerLink]="['/forapproval']" class="nav__link" routerLinkActive="nav__link--active">Awaiting Approval</a>
          </li>
          <li class="nav__item">
              <a [routerLink]="['/company']" class="nav__link" routerLinkActive="nav__link--active">Company</a>
          </li>
          <li class="nav__item">
            <a [routerLink]="['/account']" class="nav__link" routerLinkActive="nav__link--active">My account</a>
          </li>
          <li class="nav__item">
            <a href="/account/logout" class="nav__link">Logout</a>
          </li>
      </ul>
  </div>
</div>


 <!-- Header -->
 <header class="header">
  <div class="header-inner container">
      <div class="row align-items-center">
          <div class="col-auto">
              <div class="header-logo">Dentalmed</div>
          </div>
          <div class="col d-none d-lg-block header-nav">
              <ul class="nav">
                  <li class="nav__item">
                      <a [routerLink]="['/catalog']" class="nav__link" routerLinkActive="nav__link--active">Catalog</a>
                  </li>
                  <li class="nav__item">
                      <a [routerLink]="['/orders']" class="nav__link" routerLinkActive="nav__link--active">Orders</a>
                  </li>
                  <li class="nav__item">
                      <a [routerLink]="['/forapproval']" class="nav__link" routerLinkActive="nav__link--active">Awaiting Approval</a>
                  </li>
                  <li class="nav__item">
                      <a [routerLink]="['/company']" class="nav__link" routerLinkActive="nav__link--active">Company</a>
                  </li>
                  <li class="nav__item">
                    <a [routerLink]="['/account']" class="nav__link" routerLinkActive="nav__link--active">My account</a>
                  </li>
                  <li class="nav__item ml-auto">
                      <a href="/account/logout" class="nav__link">Logout</a>
                  </li>
              </ul>
          </div>
          <div class="col-auto d-block d-lg-none ml-auto">
              <div class="header-nav-mobile">
                  <a class="header__link" href="#">Bulk Order</a>
                  <a class="header-toggle" data-name="mobile-menu"></a>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- End Header -->
