<!-- Swipe -->
<div class="swipe swipe--menu" [ngClass]="{'swipe--opened': isOpen}" *ngIf="currentUser$ | async as currentUser">
  <div class="swipe__header">
      <div class="swipe__header-t">{{currentUser.userName}}</div>
      <div class="swipe__close" (click)="closeMobileMenu()"></div>
  </div>
  <div class="swipe__body">
      <ul class="nav">
          <li class="nav__item">
              <a [routerLink]="['/catalog']" class="nav__link" routerLinkActive="nav__link--active" (click)="closeMobileMenu()">Catalog</a>
          </li>
          <li class="nav__item">
              <a [routerLink]="['/orders']" class="nav__link" routerLinkActive="nav__link--active" (click)="closeMobileMenu()">Orders</a>
          </li>
          <li class="nav__item" *ngIf="isOrdersApprovalEnabledForUser(currentUser)">
              <a [routerLink]="['/forapproval']" class="nav__link" routerLinkActive="nav__link--active" (click)="closeMobileMenu()">Awaiting Approval</a>
          </li>
          <li class="nav__item" *ngIf="isAdmin(currentUser)">
              <a [routerLink]="['/company']" class="nav__link" routerLinkActive="nav__link--active" (click)="closeMobileMenu()">Company</a>
          </li>
          <li class="nav__item">
            <a [routerLink]="['/account']" class="nav__link" routerLinkActive="nav__link--active" (click)="closeMobileMenu()">My account</a>
          </li>
          <li class="nav__item">
            <a href="{{logoutPath}}" class="nav__link">Logout ({{currentUser.userName}})</a>
          </li>
      </ul>
  </div>
</div>


 <!-- Header -->
 <header class="header">
  <div class="header-inner container">
      <div class="row align-items-center" *ngIf="currentUser$ | async as currentUser">
          <div class="col-auto">
              <div class="header-logo">Dentalmed</div>
          </div>
          <div class="col d-none d-lg-block header-nav">
              <ul class="nav">
                  <li class="nav__item">
                      <a [routerLink]="['/catalog']" class="nav__link" routerLinkActive="nav__link--active">Catalog</a>
                  </li>
                  <li class="nav__item">
                      <a [routerLink]="['/orders']" class="nav__link" routerLinkActive="nav__link--active">Orders</a>
                  </li>
                  <li class="nav__item" *ngIf="isOrdersApprovalEnabledForUser(currentUser)">
                      <a [routerLink]="['/forapproval']" class="nav__link" routerLinkActive="nav__link--active">Awaiting Approval</a>
                  </li>
                  <li class="nav__item" *ngIf="isAdmin(currentUser)">
                      <a [routerLink]="['/company']" class="nav__link" routerLinkActive="nav__link--active">Company</a>
                  </li>
                  <li class="nav__item">
                    <a [routerLink]="['/account']" class="nav__link" routerLinkActive="nav__link--active">My account</a>
                  </li>
                  <li class="nav__item ml-auto" (click)="logout()">
                      <a href="{{logoutPath}}" class="nav__link">Logout ({{currentUser.userName}})</a>
                  </li>
              </ul>
          </div>
          <div class="col-auto d-block d-lg-none ml-auto">
              <div class="header-nav-mobile">
                  <a class="header__link" [routerLink]="['/bulkorder']">Bulk Order</a>
                  <a class="header-toggle" (click)="openMobileMenu()"></a>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- End Header -->
