<div *ngIf="isForApprove; else elseBlock">
  <mat-accordion>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  <h2>Order comments</h2>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <b>details</b>
      </mat-expansion-panel>
  </mat-accordion>
</div>
<ng-template #elseBlock>
  <mat-accordion>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  <h2>Order comments</h2>
              </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let item of comments; let i = index">
              <mat-accordion>
                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                          <mat-panel-title>

                              <h2>{{item.username}} comment added - {{item.createdDate}}</h2>
                          </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div>{{item.text}}</div>
                  </mat-expansion-panel>
              </mat-accordion>
          </div>
      </mat-expansion-panel>
  </mat-accordion>
</ng-template>
