<app-active-order-mobile #mobileOrderSidebar></app-active-order-mobile>
<main class="main container">
  <app-categories    [categories]="categories$"
    (categoryChanged)="categoryChanged($event)"
    #mobileCategoies
  ></app-categories>
  <div class="content" >
    <form class="search d-none d-xl-block">
      <app-search-products
        (searchTextChanged)="searchByText($event)"
      ></app-search-products>
    </form>
    <div class="mobile-navbar d-block d-xl-none">
      <form class="search">
          <app-search-products
          (searchTextChanged)="searchByText($event)"
        ></app-search-products>
        <a class="search__close" (click)="closeMobileSearch()"></a>
      </form>
      <div class="list">
        <a class="list__item" (click)="openMobileCategories(mobileCategoies)">
          <svg
            class="list__ico"
            width="20px"
            height="20px"
            viewBox="0 0 20 20"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g
              id="Version-2"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Catalog-(mobile)-CATEGORY"
                transform="translate(-47.000000, -71.000000)"
                class="fill"
              >
                <g id="Group-3" transform="translate(47.000000, 71.000000)">
                  <g id="Group-5">
                    <path
                      d="M2,7 L2,2 L7,2 L7.001,7 L2,7 Z M7,0 L2,0 C0.897,0 0,0.897 0,2 L0,7 C0,8.103 0.897,9 2,9 L7,9 C8.103,9 9,8.103 9,7 L9,2 C9,0.897 8.103,0 7,0 L7,0 Z"
                      id="Fill-1"
                    ></path>
                    <path
                      d="M13,7 L13,2 L18,2 L18.001,7 L13,7 Z M18,0 L13,0 C11.897,0 11,0.897 11,2 L11,7 C11,8.103 11.897,9 13,9 L18,9 C19.103,9 20,8.103 20,7 L20,2 C20,0.897 19.103,0 18,0 L18,0 Z"
                      id="Fill-3"
                    ></path>
                    <path
                      d="M2,18 L2,13 L7,13 L7.001,18 L2,18 Z M7,11 L2,11 C0.897,11 0,11.897 0,13 L0,18 C0,19.103 0.897,20 2,20 L7,20 C8.103,20 9,19.103 9,18 L9,13 C9,11.897 8.103,11 7,11 L7,11 Z"
                      id="Fill-5"
                    ></path>
                    <path
                      d="M13,18 L13,13 L18,13 L18.002,18 L13,18 Z M18,11 L13,11 C11.897,11 11,11.897 11,13 L11,18 C11,19.103 11.897,20 13,20 L18,20 C19.103,20 20,19.103 20,18 L20,13 C20,11.897 19.103,11 18,11 L18,11 Z"
                      id="Fill-7"
                    ></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          Category
        </a>
        <a class="list__item" (click)="openMobileSearch()">
          <svg
            class="list__ico"
            width="20px"
            height="20px"
            viewBox="0 0 20 20"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g
              id="Version-2"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Catalog-(mobile)-CATEGORY"
                transform="translate(-243.000000, -71.000000)"
                class="fill"
              >
                <g id="Group-2" transform="translate(243.000000, 71.000000)">
                  <path
                    d="M2,7.5 C2,4.467 4.467,2 7.5,2 C10.533,2 13,4.467 13,7.5 C13,10.533 10.533,13 7.5,13 C4.467,13 2,10.533 2,7.5 M19.707,18.293 L13.455,12.041 C14.42,10.779 15,9.208 15,7.5 C15,3.364 11.636,0 7.5,0 C3.364,0 2.48689958e-14,3.364 2.48689958e-14,7.5 C2.48689958e-14,11.636 3.364,15 7.5,15 C9.208,15 10.779,14.42 12.041,13.455 L18.293,19.707 C18.488,19.902 18.744,20 19,20 C19.256,20 19.512,19.902 19.707,19.707 C20.098,19.316 20.098,18.684 19.707,18.293"
                    id="Fill-1"
                  ></path>
                </g>
              </g>
            </g>
          </svg>
          Search
        </a>
        <div class="list__item d-none d-lg-block">
          <a
            [routerLink]="['/bulkorder']"
            class="btn btn--blue btn--sm btn--block"
            >Bulk Order</a
          >
        </div>
      </div>
    </div>
    <ng-container *ngIf="products$ | async as products">
    <div class="list product--list" *ngIf="(cart$ | async) as cart">
      <div class="list__item" *ngFor="let p of products" >
        <div class="list__img list__img--placeholder">
          <img
            src="{{ p.primaryImage?.url }}"
            alt="{{ p.sku }}"
            class="list__pic"
          />
        </div>
        <div class="list__info">
          <a class="list__name" [routerLink]="['/product-details', p.id]">{{ p.name }}</a>
          <div class="list__brand">{{p.brand}}</div>
          <div class="list__model">
            Model: {{p.model}} <span class="divider">|</span>SKU: {{ p.sku }}
          </div>
          <div class="list__descr" [innerHTML]="p.quickReview"></div>
        </div>
        <div class="list__other">
          <div class="list__price">{{ p.price }}</div>
            <app-change-product-quantity [cart]="cart" [productId]="p.id"></app-change-product-quantity>
        </div>
      </div>
    </div>
    <ng-container *ngIf="pagination.collectionSize; else searchElseTemplate">
        <div class="page-nav">
            <div class="row align-items-end justify-content-center">
              <div class="col-auto">
                <div class="page-nav__total">
                  You've viewed {{ products.length }} of
                  {{ pagination.collectionSize }} products
                </div>
                <ngb-pagination
                  [(page)]="pagination.page"
                  [pageSize]="pagination.pageSize"
                  [collectionSize]="pagination.collectionSize"
                  (pageChange)="pageChanged()"
                ></ngb-pagination>
              </div>
              <div class="col-auto ml-sm-auto">
                Show
                <app-page-size-selector
                  [defaultPageSize]="pagination.pageSize"
                  [pageSizes]="settings.pageSizes"
                  (pageSizeChanged)="pageSizeChanged($event)"
                ></app-page-size-selector>
              </div>
            </div>
          </div>
    </ng-container>
    <ng-template #searchElseTemplate>
      <div class="search__nothing-found-message"><app-no-result-message></app-no-result-message></div>
    </ng-template>
    <app-mobile-cart-summary [activeOrderMobileSidebar]="mobileOrderSidebar"></app-mobile-cart-summary>
    </ng-container>
  </div>

  <!-- active order -->
  <div class="sidebar sidebar--bg-gray d-none d-lg-block">
    <div class="sidebar__inner">
      <app-active-order></app-active-order>
    </div>
  </div>
</main>
