.popup-header {
  text-align: center;
 }

.popup-body {
   background: #f8f8f8;
  //  border-color: black;
   border: 0.04rem solid rgba(0,0,0,.2);
 }

 .popup-image {
   width: 630px;
   height: 510px;
 }


 .active-workflow {
   background-color: rgba(77,160,247,.1) !important;
 }
