  <div class="bulk-order__copy">
    <p>
      Simply copy the item records from your CSV file and paste them into the
      text box using the following format: SKU, Quantity. Each record should
      start from a new line.
    </p>
    <div class="row">
      <div class="col-md-6">
        <textarea class="bulk-order__copy-field" [(ngModel)]="csvText" (change)="setItemsAsInvalidated()"></textarea>
      </div>
      <div class="col-md-6">
        <div class="bulk-order__copy-errors">
          <!-- <p>Error in line 1: Product is not recognized</p> -->
          <p *ngFor="let error of errors" >{{error}}</p>

          <!-- <a class="all-errors" href="#">Show all Errors</a> -->
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <a (click)="validateItems()" class="btn btn--blue">Validate</a>
      </div>
    </div>
  </div>


<div class="bulk-order__add-order">
  <button class="btn btn--green ml-auto"
    [disabled]="itemsIsValid"
    (click)="addItemsToCart()"
  >
    Add to Order
  </button>
</div>
