.order
{
	&__info
	{
		border-bottom: .125rem solid $gray-200;
		padding: 1.25rem .9375rem 0;
	}

	&__item
	{
		font-size: .875rem;
		padding: 1.25rem .9375rem;
    position: relative;

    & ~ .order__item
		{
			border-top: 1px solid $gray-200;
		}

		&-brand
		{
			color: $gray-400;
			margin: .5rem 0;
		}

		&-descr
		{
			color: $gray-500;
			margin-top: .25rem;
		}

		&-other
		{
			align-items: center;
			display: flex;
      margin-top: 1rem;
      justify-content: space-between;

			.order__item-price
			{
				font-weight: bold;
			}
		}

		&-remove
		{
      mask: url('assets/icons/trash.svg');
      background: $red;
			font-size: 0;
			height: 1.25rem;
			position: absolute;
			right: .9375rem;
			top: 1.25rem;
			width: 1rem;
    }

    &-remove:hover
    {
      cursor: pointer;
      background: $blue;
    }
	}

	&__t
	{
		align-items: center;
		display: flex;
		font-size: 1.25rem;
		font-weight: bold;

		&-link
		{
			color: $red !important;
			font-size: .875rem;
			font-weight: normal;
			margin-left: auto;
    }

    &-link:hover
		{
      color: #4da0f7 !important;
      cursor: pointer;
		}
	}

	&__text
	{
		color: $gray-300;
		font-size: .875rem;
		margin-top: .5rem;
	}

	&__actions
	{
		display: flex;
		margin: 1.5rem 0;

		.btn:last-child
		{
			margin-left: auto;
		}

		@include media-breakpoint-down(sm) {
			.btn
			{
				padding: 0;
				width: 50%;

				&:first-child
				{
					margin-right: .5rem;
				}

				&:last-child
				{
					margin-left: .5rem;
				}
			}
		}
	}

	&__status
	{
		align-items: center;
		background-color: #f0f0f0;
		display: flex;
		margin-bottom: .625rem;
		padding: 1.25rem;

		&-name
		{
			color: $gray-300;
		}

		.status
		{
			font-weight: bold;
		}

		@include media-breakpoint-up(md) {
			&-name
			{
				margin-left: auto;
			}
		}
	}

	&__general
	{
		margin-bottom: 2.5rem;

		&-date,
		&-number
		{
			align-items: center;
			border-bottom: 1px solid $gray-200;
			color: $gray-300;
			display: flex;
			height: 3.125rem;

			.value
			{
				color: $black;
				margin-left: auto;
			}
		}
	}

	.list--total
	{
		margin-top: .5rem;

		.list__item
		{
			align-items: center;
			color: $gray-300;
			display: flex;
			font-size: .875rem;
			padding: .625rem 0;

			& ~ .list__item
			{
				border-top: 1px solid $gray-200;
			}
		}

		.list__count
		{
			color: $black;
			margin-left: auto;

			&.free
			{
				color: $green;
			}
		}
	}

	.list--comments
	{
		margin-top: .5rem;

		.list__item
		{
			align-items: center;
			border-bottom: 1px solid $gray-200;
			color: $black;
			display: flex;
			font-size: 1rem;
			padding: 1.25rem 0;

			&-info
			{
				display: flex;
				flex-wrap: wrap;
			}

			&-date
			{
				color: $gray-500;
				margin-left: 4rem;
			}

			&-status
			{
				margin-left: auto;
			}

			@include media-breakpoint-down(sm) {
				align-items: flex-start;

				&-info
				{
					flex-direction: column;
				}

				&-date
				{
					margin: 0;
				}
			}
		}

		& ~ .btn
		{
			margin: 1.25rem 0;
			min-width: 12.5rem;
		}
	}
}
