.page
{
	&__sort
	{
		font-size: .875rem;
		margin-bottom: 1.25rem;

		&-date,
		&-filter
		{
			align-items: center;
			display: flex;
		}

		&-date
		{
			.form-control
			{
				width: 8rem;
			}
		}

		&-filter
		{
			.dropdown
			{
				margin-right: 0;
				width: 12.5rem;
			}
		}

		&-col
		{
			align-items: center;
			display: flex;
			flex: 1 0 0;

			&:first-child
			{
				.page__sort-name
				{
					margin-left: 0;
				}
			}
		}

		&-name
		{
			margin: 0 .625rem;
		}

		@include media-breakpoint-down(md) {
			&-filter
			{
				.dropdown
				{
					width: 9rem;
				}
			}
		}

		@include media-breakpoint-down(sm) {
			&-date,
			&-filter
			{
				padding-bottom: .625rem;
				padding-top: .625rem;
			}

			&-date
			{
				border-bottom: 1px solid $gray-200;
				border-top: 1px solid $gray-200;

				.page__sort-col
				{
					&:first-child
					{
						margin-right: .5rem;
					}

					&:last-child
					{
						margin-left: .5rem;
					}
				}
			}

			&-filter
			{
				border-bottom: 1px solid $gray-200;
			}

			&-col
			{
				flex-wrap: wrap;

				.dropdown,
				.form-control
				{
					width: 100%;
				}
			}

			&-name
			{
				margin: 0 0 .625rem;
			}
		}

		@include media-breakpoint-down(xs) {
			&-date
			{
				align-items: flex-start;
				flex-direction: column;

				.page__sort-col
				{
					width: 100%;
					
					&:first-child
					{
						margin-right: 0;
					}

					&:last-child
					{
						margin-left: 0;
						margin-top: .625rem;
					}
				}
			}
		}
	}
}