$sidebar-width: 18.75rem;

#layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  height: inherit;
}

.alerts{
  position: fixed;
  left: 0;
  right: 0;
  top: 3.75rem;
  z-index: 1001;
}

.main {
  display: flex;
  flex: 1 0 0;
  flex-wrap: wrap;
  padding-top: 3.75rem;


  > .content:first-child {
    border-left: 1px solid $gray-200;
  }

  > .order,
  > .account {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;

    @media (min-width: 120rem) {
      width: calc(100% - 37.5rem);
    }

    h1 {
      padding: 2.5rem 0;
    }

    @include media-breakpoint-down(sm) {
      h1 {
        font-size: 1.25rem;
        padding: 1.25rem 0;
      }
    }

    .page-nav {
      padding-left: 0;
      padding-right: 0;
    }
  }

  > .order--with-info {
    flex: 1 0 0;
    margin-left: 0;
    margin-right: $sidebar-width;
    width: 100%;
  }

  @media (min-width: 120rem) {
    > .order--with-info {
      margin-left: $sidebar-width;
      margin-right: $sidebar-width * 2;
      padding: 0 .9375rem;
    }
  }

  @include media-breakpoint-down(md) {
    > .order--with-info {
      margin: 0;

      .mobile-order {
        margin: 0 -.9375rem;
      }
    }
  }

  > .account {
    .btn-group .btn {
      min-width: 6.25rem;
    }
  }

  > .page {
    padding: 0 1rem 0 1.875rem;

    @include media-breakpoint-down(sm) {
      padding: 0;

      h1 {
        font-size: 1.25rem;
        padding: 1.25rem 0;
      }
    }
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.25);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;

  @include media-breakpoint-down(lg) {
    display: block;
  }
}

// Sidebar
.sidebar {
  border-left: 1px solid $gray-200;
  border-right: 1px solid $gray-200;
  bottom: 0;
  flex: 0 0 $sidebar-width;
  position: fixed;
  top: 3.75rem;
  width: $sidebar-width;

  &--bg-gray {
    background: #fafafa;
  }

  &__block {
    border-bottom: 1px solid $gray-200;
    padding: .9375rem 1.875rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__body {
    flex: 1 0 0;
    overflow-y: auto;
  }

  &__footer {
    margin-top: auto;
    padding: .9375rem 1.25rem;
  }

  &[data-name="left"] {
    left: 0;
  }

  &[data-name="right"] {
    right: 0;
  }

  @media (min-width: 120rem) {
    &[data-name="left"] {
      left: $sidebar-width + .9375;
    }

    &[data-name="right"] {
      right: $sidebar-width + .9375;
    }
  }
}

// Content
.content {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  margin: 0 $sidebar-width - .9375;

  &:nth-of-type(1) {
    margin-left: -.9375rem;
  }

  .order {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    padding: 0 1.875rem;
  }

  @media (min-width: 120rem) {
    margin: 0 ($sidebar-width * 2);

    &:nth-of-type(1) {
      margin-left: $sidebar-width;
    }
  }

  @include media-breakpoint-down(lg) {
    border-left: 1px solid $gray-200;
    margin-left: -.9375rem;
  }

  @include media-breakpoint-down(md) {
    border-right: 1px solid $gray-200;
    margin-right: -.9375rem;
  }

  @include media-breakpoint-down(sm) {
    margin: 0 -.9375rem;
  }

  @include media-breakpoint-down(xs) {
    border: none;
  }
}

// Search
@import "main/search";

// Product list
@import "main/product-list";

// Order
@import "main/order";

// Page nav
@import "main/page-nav";

// Mobile navbar
@import "main/mobile";

// Bulk order
@import "main/bulk-order";

// Product
@import "main/product";

// Page
@import "main/page";

//Login page
@import "main/login";
