.product--list
{
	margin-bottom: 3.125rem;

	.list__divider
	{
		width: 100%;
	}
	
	.list__item
	{
		border-bottom: 1px solid $gray-200;
		display: flex;
		flex-wrap: wrap;
		padding: 1.875rem;
	}

	.list__img
	{
		flex: 0 0 6.25rem;
		height: 6.25rem;
		margin-right: 1.25rem;
		width: 6.25rem
	}

	.list__pic
	{
		max-width: 100%;
	}

	.list__info
	{
		flex: 1 0 auto;
		margin-right: 1.25rem;
	}

	.list__other
	{
		align-items: flex-end;
		display: flex;
		flex-direction: column;
	}

	.list__name,
	.list__price
	{
		font-weight: bold;
	}

	.list__name
	{
		color: $gray-700;

		&:hover
		{
			color: $green;
		}
	}

	.list__brand,
	.list__model,
	.list__descr
	{
		font-size: .875rem;
	}

	.list__model
	{
		display: flex;

		.divider
		{
			color: $gray-500;
			margin: 0 .625rem;
		}
	}

	.list__brand
	{
		color: $gray-400;
		margin-bottom: 1.25rem;
		margin-top: .15rem;
	}

	.list__descr
	{
		color: $gray-500;
	}

	.list__notify
	{
		color: $red;
		font-size: .875rem;
		margin-left: auto;
		margin-top: .5rem;
	}

	@include media-breakpoint-down(lg) {
		.list__item
		{
			padding: .9375rem;
		}

		.list__img
		{
			flex: 0 0 3.75rem;
			height: 3.75rem;
			margin-right: .625rem;
			width: 3.75rem;
		}
		
		.list__name,
		.list__price
		{
			font-size: .875rem;
		}

		.list__brand,
		.list__model,
		.list__descr
		{
			font-size: .75rem;
		}

		.list__model
		{
			.divider
			{
				color: transparent;
				margin: 0 0 0 .5rem;
			}
		}

		.list__brand
		{
			margin-bottom: 0;
			margin-top: 0;
		}
	}
}