$search-bg: #f8f9fa;
$search-border: #e7e7e7;

.search
{
	border-bottom: 1px solid $gray-200;
	padding: .9375rem 1.875rem;

	.form-control
	{
		background: $search-bg;
		border-color: $search-border;
		color: $gray-300;
	}
}